<table class="table table-vertical table-noborder table-compact service-level-table">
  <tbody>
    <tr>
      <td hidden></td>
      <th> {{item.name}} </th>
    </tr>
    <tr>
      <td hidden></td>
      <th class="first">{{'vmfs.capacityUsage' | translate}}</th>
      <th>{{'vmfs.qos' | translate}}</th>
      <th>{{'vmfs.protection' | translate}}</th>
    </tr>
    <tr>
      <td hidden></td>
      <td>
        <div class="progress-block">
          <app-progress-bar-cell [used]="(item.usedCapacity/item.totalCapacity * 100 || 0).toFixed(2)"
            [color]="'success'" style="width:100%;"></app-progress-bar-cell>
        </div>
      </td>
      <!-- QoS -->
      <td rowspan="2">
        <!-- 带宽 -->
        <div *ngIf="check('maxBandWidth')">{{'vmfs.bandwidth' | translate}} <= {{getValue('maxBandWidth')}} MBPS/TB </div>
        <div *ngIf="check('minBandWidth')">{{'vmfs.bandwidth' | translate}} >= {{getValue('minBandWidth')}} MBPS/TB </div> 
        <!-- IOPS -->
        <div *ngIf="check('maxIOPS')">{{'vmfs.iops' | translate}} <= {{getValue('maxIOPS')}} IOPS/TB </div>
        <div *ngIf="check('minIOPS')">{{'vmfs.iops' | translate}} >= {{getValue('minIOPS')}} IOPS/TB </div>
        <!-- 时延 -->
        <div *ngIf="check('latency')">{{'rdm.latency' | translate}} <= {{getValue('latency') + getValue('latencyUnit')}}</div>
        <!-- 一个能用的都没有 -->
        <div *ngIf="!check('maxBandWidth') && !check('minBandWidth') &&!check('maxIOPS') && !check('minIOPS') && !check('latency')">--</div>
      </td>
      <!-- 保护 -->
      <td rowspan="2">
         --
      </td>
    </tr>
    <tr>
      <td hidden></td>
      <td>{{formatCapacity(item.usedCapacity, false)}} /{{formatCapacity(item.totalCapacity, false)}} </td>
    </tr>
  </tbody>
</table>
