<table class="table table-vertical table-noborder table-compact">
  <tbody>
    <tr>
      <th hidden></th>
      <th>
        {{item.name}}
      </th>
    </tr>
    <tr>
      <th hidden></th>
      <td>{{'vmfs.capacityUsage' | translate}}</td>
      <td>{{'vmfs.qos' | translate}}</td>
      <td>{{'vmfs.protection' | translate}}</td>
    </tr>
    <tr>
      <th hidden></th>
      <th>
        <div class="progress-block">
          <app-progress-bar-cell [used]="(item.usedCapacity/item.totalCapacity * 100 || 0).toFixed(2)"
            [color]="'success'" style="width:100%;"></app-progress-bar-cell>
        </div>
      </th>
      <th *ngIf="item.capabilities !== null && item.capabilities.qos !== null
          && item.capabilities.qos?.qosParam !== null
          && item.capabilities.qos?.qosParam.maxBandWidth !== 0">{{'vmfs.bandwidth' | translate}} <=
          {{item.capabilities.qos?.qosParam.maxBandWidth}}MBPS/TB
          </th>

          <th *ngIf="item.capabilities !== null && item.capabilities.qos !== null
          && item.capabilities.qos?.qosParam !== null
          && item.capabilities.qos?.qosParam.minBandWidth !== 0">{{'vmfs.bandwidth' | translate}} >=
          {{item.capabilities.qos?.qosParam.minBandWidth}}MBPS/TB
      </th>
      <th *ngIf="item.capabilities !== null && item.capabilities.qos !== null
          && item.capabilities.qos?.qosParam !== null
          && item.capabilities.qos?.qosParam.maxIOPS !== 0">{{'vmfs.iops' | translate}} <=
          {{item.capabilities.qos?.qosParam.maxIOPS}}IOPS/TB
          </th>

          <th *ngIf="item.capabilities !== null && item.capabilities.qos !== null
          && item.capabilities.qos?.qosParam !== null
          && item.capabilities.qos?.qosParam.minIOPS !== 0 ">{{'vmfs.iops' | translate}} >=
          {{item.capabilities.qos?.qosParam.minIOPS}}IOPS/TB
      </th>
      <th
        *ngIf="item.capabilities === null || item.capabilities.qos === null || item.capabilities.qos?.qosParam === null
          || (item.capabilities.qos?.qosParam.maxBandWidth === 0 && item.capabilities.qos?.qosParam.minBandWidth === 0)">
        --
      </th>
      <th
        *ngIf="item.capabilities === null || item.capabilities.qos === null || item.capabilities.qos?.qosParam === null
          || (item.capabilities.qos?.qosParam.minIOPS === 0 && item.capabilities.qos?.qosParam.maxIOPS === 0)">
        --
      </th>
    </tr>
    <tr>
      <th hidden></th>
      <th>{{formatCapacity(item.usedCapacity, false)}} /{{formatCapacity(item.totalCapacity, false)}}
      </th>
      <th *ngIf="item.capabilities !== null && item.capabilities.qos !== null
          && item.capabilities.qos?.qosParam !== null
          && item.capabilities.qos?.qosParam.latency !== 0 ">{{'rdm.latency' | translate}}<=
          {{item.capabilities.qos?.qosParam.latency + item.capabilities.qos?.qosParam.latencyUnit}}</th>
          <th
          *ngIf="item.capabilities === null || item.capabilities.qos === null || item.capabilities.qos?.qosParam === null || item.capabilities.qos?.qosParam.latency === 0">
          --
      </th>
    </tr>
  </tbody>
</table>
