.color-square {
  display: inline-block;
  vertical-align: text-bottom;
  height: .7rem;
  width: .7rem;
  border: .05rem solid #000;
  border-radius: 2rem;
}
.over_flow{
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}
.hideFilter ::ng-deep clr-dg-string-filter{
  display: none;
}
