<div>
  <!-- 头部按钮组 -->
  <div>
    <button class="btn btn-primary" [disabled]="rowSelected.length === 0" (click)="applySelectedPractice()">{{'bestPractice.apply'|translate}}</button>
    <button class="btn btn-primary" (click)="recheck()">{{'bestPractice.check'|translate}}</button>
  </div>
  <!-- 列表页 -->
  <clr-datagrid [(clrDgSelected)]="rowSelected"   (clrDgRefresh)="practiceRefresh()" [clrDgLoading]="isLoading">

    <clr-dg-column [clrDgField]="'hostSetting'">{{'bestPractice.hostSetting'|translate}}</clr-dg-column>
    <clr-dg-column [clrDgField]="'recommendValue'">{{'bestPractice.recommend'|translate}}</clr-dg-column>
    <clr-dg-column [clrDgField]="'level'">{{'bestPractice.level'|translate}}</clr-dg-column>
    <clr-dg-column [clrDgField]="'violation'" [clrDgSortOrder]="'violation'">{{'bestPractice.violation'|translate}}</clr-dg-column>

    <clr-dg-row *clrDgItems="let item of list" [clrDgItem]="item">
      <clr-dg-cell>{{item.hostSetting}}</clr-dg-cell>
      <clr-dg-cell>{{item.recommendValue}}</clr-dg-cell>
      <clr-dg-cell>
        <span [hidden]="item.level != 'Critical'">
          <span class="color-square" style="background-color: #CA2200; margin-right: 10px"></span>{{'bestPractice.critical'|translate}}
        </span>
        <span [hidden]="item.level != 'Major'">
          <span class="color-square" style="background-color: #F0C004; margin-right: 10px"></span>{{'bestPractice.major'|translate}}
        </span>
        <span [hidden]="item.level != 'Warning'">
          <span class="color-square" style="background-color: #FEE273; margin-right: 10px"></span>{{'bestPractice.warning'|translate}}
        </span>
        <span [hidden]="item.level != 'Info'">
          <span class="color-square" style="background-color: #79C6E6; margin-right: 10px"></span>{{'bestPractice.info'|translate}}
        </span>
      </clr-dg-cell>
      <clr-dg-cell><span (click)="openHostList(item)" style="color:#00F;cursor:pointer">{{item.count}}</span></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="total">
        <clr-dg-page-size [clrPageSizeOptions]="[5,10,50,100]"></clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}}
      </clr-dg-pagination>
    </clr-dg-footer>


  </clr-datagrid>

  <!-- 弹出框 -->
  <clr-modal [(clrModalOpen)]="hostModalShow" style="Width: 576px; height: 300px">
    <h3 class="modal-title">{{'bestPractice.non-compliant'|translate}}</h3>
    <div class="modal-body">
      <div>
        <button class="btn btn-primary" [disabled]="hostSelected.length === 0" (click)="applyByHosts()">{{'bestPractice.apply'|translate}}</button>
      </div>
      <!-- 列表页 -->
      <clr-datagrid [(clrDgSelected)]="hostSelected"   (clrDgRefresh)="hostRefresh()" [clrDgLoading]="hostIsLoading">

        <clr-dg-column [clrDgField]="'hostName'">{{'bestPractice.host'|translate}}</clr-dg-column>
        <clr-dg-column [clrDgField]="'actualValue'">{{'bestPractice.actual'|translate}}</clr-dg-column>
        <clr-dg-column [clrDgField]="'recommendValue'">{{'bestPractice.recommend'|translate}}</clr-dg-column>

        <clr-dg-row *clrDgItems="let item of hostList" [clrDgItem]="item">
          <clr-dg-cell>{{item.hostName}}</clr-dg-cell>
          <clr-dg-cell>{{item.actualValue}}</clr-dg-cell>
          <clr-dg-cell>{{item.recommendValue}}</clr-dg-cell>
        </clr-dg-row>

        <!--<clr-dg-footer>
          <clr-dg-pagination #pagination1 [clrDgPageSize]="5" [clrDgTotalItems]="hostTotal">
            <clr-dg-page-size [clrPageSizeOptions]="[5,10,50,100]"></clr-dg-page-size>
            {{pagination1.firstItem + 1}} - {{pagination1.lastItem + 1}}
            of {{pagination1.totalItems}}
          </clr-dg-pagination>
        </clr-dg-footer>-->

      </clr-datagrid>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="hostModalShow = false">{{'menu.close'|translate}}</button>
    </div>
  </clr-modal>

</div>
