.modelTile{
  line-height: 3rem;
  border-bottom: 1px solid #DDDDDD;
  font-weight: normal;
}
.errorTips{
  border: none;
  color: red;
}
.add-wizard-wrap ::ng-deep .modal-backdrop{
  display: none;
}
.add-wizard-wrap ::ng-deep .modal{
  padding: 0;
  position: initial;
}
