# .gitignore
/.idea/
*.iml
.project
dmestore-ui/.idea
dmestore-ui/src/main/angular/node_modules
dmestore-ui/.settings
dmestore-deployer/target
dmestore-deployer/.classpath
dmestore-deployer/.settings
dmestore-service/target
dmestore-ui/.settings
dmestore-ui/src/main/angular/.idea
dmestore-ui/target
dmestore-ui/.classpath
dmestore-deployer/.settings
.settings
dmestore-service/.settings
dmestore-service/.classpath
er
