<div>
  <clr-modal [clrModalOpen]="viewPage=='delete_plugin'" [clrModalSize]="'sm'">
    <h3 class="modal-title">{{'nfs.del.title' | translate}}</h3>
    <div class="modal-body">
      <p>{{'nfs.del.content' | translate}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="backToNfsList()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="delNfs()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
  <div *ngIf="viewPage=='delete_vcenter'">
    <div>
      <p *ngIf="errorMsg" style="color: red">{{'errorMsg.reduceError' | translate}}</p>
      <p>{{'nfs.del.content' | translate}}</p>
    </div>
    <div style="float: right">
      <button type="button" class="btn btn-outline" (click)="closeModel()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="delNfs()">{{'menu.ok' | translate}}</button>
    </div>
  </div>
</div>
