<div>
  <clr-select-container>
    <select clrSelect (ngModelOptions)="volNames" [(ngModel)]="selectVolName" name="defaultSelect" class="clr-select" (change)="changeVolFunc()">
      <option *ngFor="let item of volNames" value="{{item}}">{{item}}</option>
    </select>
  </clr-select-container>
  <table class="table table-vertical table-noborder table-compact">
    <tbody>
    <!-- Basic Information -->
    <tr>
      <th>{{'vmfs.basicInformation' | translate}}</th>
    </tr>
    <tr>
      <th hidden></th>
      <td class="left">{{'vmfs.name' | translate}}</td>
      <td class="left">{{selectVolume.name}}</td>
      <td class="left">{{'vmfs.wwn' | translate}}</td>
      <td class="left">{{selectVolume.wwn}}</td>
    </tr>
    <tr>
      <th hidden></th>
      <td class="left">{{'vmfs.storage' | translate}}</td>
      <td class="left">{{selectVolume.storage}}</td>
      <td class="left">{{'vmfs.storagePool' | translate}}</td>
      <td class="left">{{selectVolume.storagePool}}</td>
    </tr>
    <tr>
      <th hidden></th>
      <td class="left">{{'vmfs.serviceLevelName' | translate}}</td>
      <td class="left">{{selectVolume.serviceLevel}}</td>
    </tr>
    <!-- Qos Policy -->
    <tr>
      <th>{{'vmfs.qosPolicy' | translate}}</th>
    </tr>
    <tr>
      <th hidden></th>
      <td class="left">{{'vmfs.controlPolicy' | translate}}</td>
      <td class="left">{{selectVolume.controlPolicy}}</td>
      <td class="left">{{'vmfs.trafficControlObject' | translate}}</td>
      <td class="left">{{selectVolume.trafficControl}}</td>
    </tr>
    <!-- Qos SmartTier -->
    <tr>
      <th>{{'vmfs.smartTier' | translate}}</th>
    </tr>
    <tr>
      <th hidden></th>
      <td class="left">{{'vmfs.smartTierPolicy' | translate}}</td>
      <td class="left">{{selectVolume.smartTier}}</td>
    </tr>
    <!-- Resource Tuning -->
    <tr>
      <th>{{'vmfs.applicationType' | translate}}</th>
    </tr>
    <tr>
      <th hidden></th>
      <td class="left">{{'vmfs.applicationType' | translate}}</td>
      <td class="left">{{selectVolume.provisionType}}</td>
      <td class="left">{{'vmfs.provisioningType' | translate}}</td>
      <td class="left">{{selectVolume.provisionType}}</td>
    </tr>
    <tr>
      <th hidden></th>
      <td class="left">{{'vmfs.deduplication' | translate}}</td>
      <td class="left">{{selectVolume.dudeplication}}</td>
      <td class="left">{{'vmfs.compression' | translate}}</td>
      <td class="left">{{selectVolume.compression}}</td>
    </tr>
    </tbody>
  </table>
</div>
