<div class="detail-outer">
  <div class="detail-header">
    <p class="detail-header-font"><clr-icon shape="undo" size="20" (click)="backToList()"></clr-icon>{{storageName}}</p>
  </div>
  <div class="detail-content">
    <div>
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="conf" (click)="changeTab('conf')">{{'storage.detail.conf.configuration' | translate}}</button>
          <clr-tab-content id="configuration" *clrIfActive="true">
            <table class="table table-noborder" *ngIf="detail">
              <tr>
                <td class="left">{{'storage.detail.conf.name' | translate}}</td>
                <td class="left">{{detail.name}}</td>
                <td class="left">{{'storage.detail.conf.ip' | translate}}</td>
                <td class="left">{{detail.ip}} <clr-icon shape="display" class="is-solid is-highlight"></clr-icon></td>
                <td class="left">{{'storage.detail.conf.sn' | translate}}</td>
                <td class="left">{{detail.sn}}</td>
              </tr>
              <tr>
                <td class="left">{{'storage.detail.conf.status' | translate}}</td>
                <td class="left">
                  <span *ngIf="detail.status == 0">
                <span class="color-square" style="background-color: #A9A9A9; margin-right: 10px"></span>{{'storage.list.offLine' | translate}}
              </span>
                  <span *ngIf="detail.status == 1">
                <span class="color-square" style="background-color: #7CDFA0; margin-right: 10px;"></span>{{'storage.list.normal' | translate}}
              </span>
                  <span *ngIf="detail.status == 2">
                <span class="color-square" style="background-color: red; margin-right: 10px"></span>{{'storage.list.fault' | translate}}
              </span>
                  <span *ngIf="detail.status == 9">
                <span class="color-square" style="background-color: yellow; margin-right: 10px"></span>{{'storage.list.notMgr' | translate}}
              </span>
                  <span *ngIf="!detail.status">
                <span class="color-square" style="background-color: #A9A9A9; margin-right: 10px"></span>--
              </span>
                </td>
                <td class="left">{{'storage.detail.conf.fv' | translate}}</td>
                <td class="left">{{detail.productVersion}}</td>
                <td class="left">{{'storage.detail.conf.pv' | translate}}</td>
                <td class="left">{{detail.patchVersion}}</td>
              </tr>
              <tr>
                <td class="left">{{'storage.detail.conf.vendor' | translate}}</td>
                <td class="left">{{detail.vendor}}</td>
                <td class="left">{{'storage.detail.conf.model' | translate}}</td>
                <td class="left">{{detail.model}}</td>
                <td class="left">{{'storage.detail.conf.az' | translate}}</td>
                <td class="left">{{detail.azIds.length>0?detail.azIds:'--'}}</td>
              </tr>
              <tr>
                <td class="left">{{'storage.detail.conf.wp' | translate}}</td>
                <td class="left">{{detail.maintenanceStart}}--{{detail.maintenanceOvertime}}</td>
                <td class="left">{{'storage.detail.conf.location' | translate}}</td>
                <td class="left">{{detail.location || '--'}}</td>
              </tr>
            </table>
            <div *ngIf="!detail" style="height: 50%">
              抱歉未查询到相关数据
            </div>
            <clr-tabs>
              <!--Storage Pools-->
              <clr-tab>
                <button clrTabLink id="storage" (click)="changeTab('pool')">{{'storage.detail.storagePool.storagePool' | translate}}</button>
                <clr-tab-content id="storagePool" *clrIfActive="true">
                  <div class="detail-margin-top">
                    <!-- 头部按钮组 -->
                    <div class="gh-btngroup-header">
                      <div class="gh-btngroup-left"></div>
                      <!-- 基本视图、性能视图、刷新 -->
                      <div class="btn-group btn-icon">
                        <div class="radio btn">
                          <input (click)="poolRadio = 'table1'" type="radio" name="btn-group-demo-radios" id="btn-demo-radio-1" checked>
                          <label for="btn-demo-radio-1"><clr-icon shape="list" size="20"></clr-icon></label>
                        </div>
                        <div class="radio btn">
                          <input (click)="poolRadio = 'table2'" type="radio" name="btn-group-demo-radios" id="btn-demo-radio-2">
                          <label for="btn-demo-radio-2"><clr-icon shape="dashboard" size="20"></clr-icon></label>
                        </div>
                        <div class="radio btn">
                          <input (click)="poolRadio = 'table3'" type="radio" name="btn-group-demo-radios" id="btn-demo-radio-3">
                          <label for="btn-demo-radio-3"><clr-icon shape="radar" size="20"></clr-icon></label>
                        </div>
                        <div class="radio btn merginLeft">
                          <label><clr-icon shape="refresh" size="20" (click)="getStoragePoolList(true)"></clr-icon></label>
                        </div>
                      </div>
                    </div>
                    <!-- 列表页 -->
                    <clr-datagrid [(clrDgSelected)]="rowSelected" [clrDgLoading]="isLoading">

                      <clr-dg-column>{{'storage.detail.storagePool.name' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.storagePool.status' | translate}}</clr-dg-column>

                      <clr-dg-column [hidden]="poolRadio!=='table1'">{{'storage.detail.storagePool.diskType' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="poolRadio!=='table1'">{{'storage.detail.storagePool.type' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="poolRadio!=='table1'">{{'storage.detail.storagePool.serviceLevel' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="poolRadio!=='table1'">{{'storage.detail.storagePool.raidLevel' | translate}}</clr-dg-column>

                      <clr-dg-column [hidden]="poolRadio!=='table2'">{{'storage.detail.storagePool.totalCap' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="poolRadio!=='table2'">{{'storage.detail.storagePool.usedCap' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="poolRadio!=='table2'">{{'storage.detail.storagePool.capUsage' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="poolRadio!=='table2'">{{'storage.detail.storagePool.freeCap' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="poolRadio!=='table2'">{{'storage.detail.storagePool.supRate' | translate}}</clr-dg-column>

                      <clr-dg-column [hidden]="poolRadio!=='table3'">{{'storage.detail.storagePool.latency' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="poolRadio!=='table3'">{{'storage.detail.storagePool.iops' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="poolRadio!=='table3'">{{'storage.detail.storagePool.bandwidth' | translate}}</clr-dg-column>

                      <clr-dg-row *clrDgItems="let item of storagePool" [clrDgItem]="item">
                        <clr-dg-cell>{{item.name}}</clr-dg-cell>
                        <clr-dg-cell>
                          <span *ngIf="item.healthStatus == 'normal'">
                            <span class="color-square" style="background-color: #7CDFA0; margin-right: 10px"></span>
                            {{'storage.detail.storagePool.normal' | translate}}
                          </span>
                          <span *ngIf="item.healthStatus == 'fault'">
                            <span class="color-square" style="background-color: red; margin-right: 10px"></span>
                            {{'storage.detail.storagePool.fault' | translate}}
                          </span>
                          <span *ngIf="item.healthStatus == 'degraded'">
                            <span class="color-square" style="background-color: #A9A9A9; margin-right: 10px"></span>
                            {{'storage.detail.storagePool.degraded' | translate}}
                          </span>
                        </clr-dg-cell>

                        <clr-dg-cell [hidden]="poolRadio!=='table1'">
                          <span *ngIf="item.physicalType == 'sata'">SATA</span>
                          <span *ngIf="item.physicalType == 'sas'">SAS</span>
                          <span *ngIf="item.physicalType == 'ssd'">SSD</span>
                          <span *ngIf="item.physicalType == 'nl-sas'">NL-SAS</span>
                          <span *ngIf="item.physicalType == 'unknown'">{{'storage.detail.storagePool.unknown' | translate}}</span>
                        </clr-dg-cell>
                        <clr-dg-cell [hidden]="poolRadio!=='table1'">{{item.mediaType}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="poolRadio!=='table1'">{{formatArry(item.serviceLevelName)}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="poolRadio!=='table1'">{{item.tier0RaidLv}}</clr-dg-cell>

                        <clr-dg-cell [hidden]="poolRadio!=='table2'">{{formatCapacity(item.totalCapacity)}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="poolRadio!=='table2'">{{formatCapacity(item.consumedCapacity)}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="poolRadio!=='table2'">
                          <clr-progress-bar clrValue="{{((item.consumedCapacity/item.totalCapacity) * 100).toFixed(2)}}" clrSuccess clrLabeled></clr-progress-bar>
                        </clr-dg-cell>
                        <clr-dg-cell [hidden]="poolRadio!=='table2'">{{formatCapacity(item.freeCapacity)}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="poolRadio!=='table2'">{{(item.subscribedCapacity/item.totalCapacity*100).toFixed(2)}}%</clr-dg-cell>

                        <clr-dg-cell [hidden]="poolRadio!=='table3'">{{item.maxLatency.toFixed(2)}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="poolRadio!=='table3'">{{item.maxIops.toFixed(1)}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="poolRadio!=='table3'">{{item.maxBandwidth.toFixed(1)}}</clr-dg-cell>
                      </clr-dg-row>
                    </clr-datagrid>
                  </div>
                </clr-tab-content>
              </clr-tab>
              <!--volumes-->
              <clr-tab>
                <button clrTabLink id="volume" (click)="changeTab('volume')">{{'storage.detail.volumes.volumes' | translate}}</button>
                <clr-tab-content id="volumes">
                  <div class="detail-margin-top">
                    <div class="gh-btngroup-header">
                      <div class="gh-btngroup-left"></div>
                      <!-- 基本视图、性能视图、刷新 -->
                      <div class="btn-group btn-icon">
                        <div class="radio btn">
                          <input (click)="volumeRadio = 'table1'" type="radio" name="btn-group-volume-radios" id="btn-demo-radio-4" checked>
                          <label for="btn-demo-radio-4"><clr-icon shape="list" size="20"></clr-icon></label>
                        </div>
                        <div class="radio btn">
                          <input (click)="volumeRadio = 'table2'" type="radio" name="btn-group-volume-radios" id="btn-demo-radio-5">
                          <label for="btn-demo-radio-5"><clr-icon shape="dashboard" size="20"></clr-icon></label>
                        </div>
                        <div class="radio btn merginLeft">
                          <label><clr-icon shape="refresh" size="20" (click)="getStorageVolumeList(true)"></clr-icon></label>
                        </div>
                      </div>
                    </div>
                    <clr-datagrid class="datagrid-compact" [(clrDgSelected)]="volumeSelect">
                      <clr-dg-column>{{'storage.detail.volumes.name' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.volumes.status' | translate}}</clr-dg-column>

                      <clr-dg-column [hidden]="volumeRadio!=='table1'">{{'storage.detail.volumes.totalCap' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="volumeRadio!=='table1'">{{'storage.detail.volumes.proType' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="volumeRadio!=='table1'">{{'storage.detail.volumes.capUsage' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="volumeRadio!=='table1'">{{'storage.detail.volumes.mapStatus' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="volumeRadio!=='table1'">{{'storage.detail.volumes.stoPool' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="volumeRadio!=='table1'">{{'storage.detail.volumes.serviceLevel' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="volumeRadio!=='table1'">{{'storage.detail.volumes.protStatus' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="volumeRadio!=='table1'">{{'storage.detail.volumes.dataStore' | translate}}</clr-dg-column>

                      <clr-dg-column [hidden]="volumeRadio!=='table2'">{{'storage.detail.volumes.latency' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="volumeRadio!=='table2'">{{'storage.detail.volumes.iops' | translate}}</clr-dg-column>
                      <clr-dg-column [hidden]="volumeRadio!=='table2'">{{'storage.detail.volumes.bandwidth' | translate}}</clr-dg-column>

                      <clr-dg-row *clrDgItems="let item of volumes" [clrDgItem]="item">
                        <clr-dg-cell>{{item.name}}</clr-dg-cell>
                        <clr-dg-cell>{{item.status}}</clr-dg-cell>


                        <clr-dg-cell [hidden]="volumeRadio!=='table1'">{{formatCapacity(item.capacity)}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="volumeRadio!=='table1'">{{item.alloctype}}</clr-dg-cell>

                        <clr-dg-cell [hidden]="volumeRadio!=='table1'" *ngIf="!item.capacityUsage">
                          --
                        </clr-dg-cell>
                        <clr-dg-cell [hidden]="volumeRadio!=='table1'"*ngIf="item.capacityUsage">
                          <clr-progress-bar clrValue="{{parseUsage(item.capacityUsage)}}" clrSuccess clrLabeled></clr-progress-bar>
                        </clr-dg-cell>

                        <clr-dg-cell [hidden]="volumeRadio!=='table1'">{{item.attached ? "已映射":"未映射"}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="volumeRadio!=='table1'">{{item.storagePoolName}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="volumeRadio!=='table1'">{{item.serviceLevelName}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="volumeRadio!=='table1'">{{item.protectionStatus ? "已保护":"未保护"}}</clr-dg-cell>
                        <clr-dg-cell [hidden]="volumeRadio!=='table1'">{{item.datastores}}</clr-dg-cell>

                        <clr-dg-cell [hidden]="volumeRadio!=='table2'">时延接口无相关字段</clr-dg-cell>
                        <clr-dg-cell [hidden]="volumeRadio!=='table2'">IOPS接口无相关字段</clr-dg-cell>
                        <clr-dg-cell [hidden]="volumeRadio!=='table2'">带宽接口无相关字段</clr-dg-cell>
                      </clr-dg-row>

                    </clr-datagrid>
                  </div>
                </clr-tab-content>
              </clr-tab>
              <!--fileSystems-->
              <clr-tab>
                <button clrTabLink id="fs" (click)="changeTab('fs')">{{'storage.detail.fileSystems.fileSystems' | translate}}</button>
                <clr-tab-content id="fileSystems">
                  <div class="detail-margin-top">
                    <div class="gh-btngroup-header">
                      <div class="gh-btngroup-left"></div>
                      <!--刷新 -->
                      <div class="btn-group btn-icon">
                        <div class="radio btn merginLeft">
                          <label><clr-icon shape="refresh" (click)="getFileSystemList(true)" size="20"></clr-icon></label>
                        </div>
                      </div>
                    </div>
                    <clr-datagrid>
                      <clr-dg-column>{{'storage.detail.fileSystems.name' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.fileSystems.status' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.fileSystems.proType' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.fileSystems.fileType' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.fileSystems.totalCap' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.fileSystems.freeCap' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.fileSystems.capacityUsage' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.fileSystems.ownSto' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.fileSystems.nfs' | translate}}</clr-dg-column>
                      <!--<clr-dg-column>{{'storage.detail.fileSystems.cifs' | translate}}</clr-dg-column>-->
                      <clr-dg-column>{{'storage.detail.fileSystems.dtree' | translate}}</clr-dg-column>

                      <clr-dg-row *clrDgItems="let item of fsList" [clrDgItem]="item">
                        <clr-dg-cell>{{item.name}}</clr-dg-cell>
                        <clr-dg-cell>{{item.healthStatus}}</clr-dg-cell>
                        <clr-dg-cell>{{item.allocType}}</clr-dg-cell>
                        <clr-dg-cell>文件系统类型接口无字段</clr-dg-cell>
                        <clr-dg-cell>{{formatCapacity(item.capacity)}}</clr-dg-cell>
                        <clr-dg-cell>{{item.availableCapacity}}</clr-dg-cell>
                        <clr-dg-cell>
                          <clr-progress-bar clrValue="{{item.capacityUsageRatio.toFixed(2)}}" clrSuccess clrLabeled></clr-progress-bar>
                        </clr-dg-cell>
                        <clr-dg-cell>{{item.storagePoolName}}</clr-dg-cell>
                        <clr-dg-cell>{{item.nfsCount}}</clr-dg-cell>
                        <!--<clr-dg-cell>{{item.cifs_count}}</clr-dg-cell>-->
                        <clr-dg-cell>{{item.dtreeCount}}</clr-dg-cell>
                      </clr-dg-row>

                    </clr-datagrid>
                  </div>
                </clr-tab-content>
              </clr-tab>
              <!--dtrees-->
              <clr-tab>
                <button clrTabLink id="dt" (click)="changeTab('dtrees')">{{'storage.detail.dtrees.dtrees' | translate}}</button>
                <clr-tab-content id="dtrees">
                  <div class="detail-margin-top">
                    <div class="gh-btngroup-header">
                      <div class="gh-btngroup-left"></div>
                      <!--刷新 -->
                      <div class="btn-group btn-icon">
                        <div class="radio btn merginLeft">
                          <label><clr-icon shape="refresh" size="20" (click)="getDtreeList(true)"></clr-icon></label>
                        </div>
                      </div>
                    </div>
                    <clr-datagrid>
                      <clr-dg-column>{{'storage.detail.dtrees.name' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.dtrees.ofs' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.dtrees.osl' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.dtrees.secMod' | translate}}</clr-dg-column>
                      <clr-dg-column>{{'storage.detail.dtrees.nfs' | translate}}</clr-dg-column>
                      <!--<clr-dg-column>{{'storage.detail.dtrees.cifs' | translate}}</clr-dg-column>-->
                      <clr-dg-column>{{'storage.detail.dtrees.quota' | translate}}</clr-dg-column>
                      <clr-dg-row  *clrDgItems="let item of dtrees" [clrDgItem]="item">
                        <clr-dg-cell>{{item.name}}</clr-dg-cell>
                        <clr-dg-cell>{{item.fsName}}</clr-dg-cell>
                        <clr-dg-cell>{{item.tierName||'--'}}</clr-dg-cell>
                        <clr-dg-cell>{{item.securityStyle||'--'}}</clr-dg-cell>
                        <clr-dg-cell>{{item.nfsCount}}</clr-dg-cell>
                        <!--<clr-dg-cell>{{item.cifs_count}}</clr-dg-cell>-->
                        <clr-dg-cell>{{item.quotaSwitch}}</clr-dg-cell>
                      </clr-dg-row>
                    </clr-datagrid>
                  </div>
                </clr-tab-content>
              </clr-tab>
              <!--shares-->
              <clr-tab>
                <button clrTabLink id="sh" (click)="changeTab('shares')">{{'storage.detail.shares.shares' | translate}}</button>
                <clr-tab-content id="shares" >
                  <clr-accordion>
                    <clr-accordion-panel>
                      <clr-accordion-title>NFS</clr-accordion-title>
                      <clr-accordion-content *clrIfExpanded>
                        <div>
                          <div class="gh-btngroup-header">
                            <div class="gh-btngroup-left"></div>
                            <!--刷新 -->
                            <div class="btn-group btn-icon">
                              <div class="radio btn merginLeft">
                                <label><clr-icon shape="refresh" size="20" (click)="getShareList(true)"></clr-icon></label>
                              </div>
                            </div>
                          </div>
                          <clr-datagrid>
                            <clr-dg-column>{{'storage.detail.shares.name' | translate}}</clr-dg-column>
                            <clr-dg-column>{{'storage.detail.shares.sharePath' | translate}}</clr-dg-column>
                            <clr-dg-column>{{'storage.detail.shares.ofs' | translate}}</clr-dg-column>
                            <clr-dg-column>{{'storage.detail.shares.od' | translate}}</clr-dg-column>
                            <clr-dg-column>{{'storage.detail.shares.osl' | translate}}</clr-dg-column>
                            <clr-dg-row  *clrDgItems="let item of shares" [clrDgItem]="item">
                              <clr-dg-cell>{{item.name}}</clr-dg-cell>
                              <clr-dg-cell>{{item.sharePath}}</clr-dg-cell>
                              <clr-dg-cell>{{item.fsName}}</clr-dg-cell>
                              <clr-dg-cell>{{item.owningDtreeName||'--'}}</clr-dg-cell>
                              <clr-dg-cell>{{item.tierName||'--'}}</clr-dg-cell>
                            </clr-dg-row>

                          </clr-datagrid>
                        </div>
                      </clr-accordion-content>
                    </clr-accordion-panel>
                  </clr-accordion>
                </clr-tab-content>
              </clr-tab>
            </clr-tabs>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="changeTab('capacity')">{{'storage.detail.cap.capacity' | translate}}</button>
          <clr-tab-content >
            <div class="detail-margin-top">
              <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-12">
                  <div class="info-content-title" style="margin-bottom: 2%">{{'storage.detail.cap.capacityUsage' | translate}}</div>
                  <div style=".data">
                    <div class="capacity-wrap">
                      <span class="capacity-label">{{'storage.detail.cap.bareCapacity' | translate}}</span>
                      <div class="num-bar_outer">
                        <div class="num-bar_inner"></div>
                      </div>
                      <!--<span>{{formatCapacity(detail.totalCapacity)}}</span>-->
                      <span>1</span>
                    </div>
                    <div class="capacity-wrap">
                      <span class="capacity-label">{{'storage.detail.cap.totalCapacity' | translate}}</span>
                      <div class="num-bar_outer">
                        <div class="num-bar_inner total" [ngStyle]="{'width':(3.2/6.389 * 100)+'%'}"></div>
                      </div>
                      <!--<span>{{formatCapacity(detail.totalCapacity)}}</span>-->
                      <span>1</span>
                    </div>
                    <div class="capacity-wrap">
                      <span class="capacity-label">{{'storage.detail.cap.useFree' | translate}}</span>
                      <div class="num-bar_outer">
                        <div class="num-bar_inner used" [ngStyle]="{'width':(2/6.389 * 100)+'%'}"></div>
                        <div class="num-bar_inner free" [ngStyle]="{'width':(1/6.389 * 100)+'%'}"></div>
                      </div>
                      <!--<span>{{formatCapacity(detail.usedCapacity)}} / {{formatCapacity(detail.totalCapacity-detail.usedCapacity)}}</span>-->
                    </div>
                    <div class="capacity-wrap">
                      <span class="capacity-label">{{'storage.detail.cap.subscribe' | translate}}</span>
                      <div class="num-bar_outer">
                        <div class="num-bar_inner total" [ngStyle]="{'width':(3.2/6.389 * 100)+'%'}"></div>
                      </div>
                      <!--<span>{{formatCapacity(detail.usedCapacity)}}</span>-->
                    </div>
                  </div>
                </div>
                <div class="clr-col-lg-4 clr-col-12">
                  <div class="info-content-title">{{'storage.chart.capacity' | translate}}</div>
                  <div class="info-charts-wrap" style=".data">
                    <div echarts [options]="cd.chart" id="chart3" style="width: 30%;height: 120px;"></div>
                    <div class="info-content">
                      <div class="info-content-text">
                        <span>{{'storage.chart.total' | translate}}</span>
                        <span>{{cd.protection}}</span>
                      </div>
                      <div class="info-content-text">
                        <span>{{'storage.chart.used' | translate}}</span>
                        <span>{{cd.fileSystem}}</span>
                        <span class="squre used"></span>
                      </div>
                      <div class="info-content-text">
                        <span>{{'storage.chart.free' | translate}}</span>
                        <span>{{cd.volume}}</span>
                        <span class="squre free"></span>
                      </div>
                      <div class="info-content-text">
                        <span>{{'storage.chart.free' | translate}}</span>
                        <span>{{cd.freeCapacity}}</span>
                        <span class="squre free"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clr-col-lg-4 clr-col-12">
                  <div class="info-content-title">容量利用率</div>
                  <div class="availability-box"  style=".data">
                    <div class="unit-banner">
                      <div class="unit-label"></div>
                      <div class="unit-outer">
                        <div *ngFor="let item of [0,1,2,3]" class="unit-inner" [ngStyle]="{'width':(1/4 * 100)+'%'}">
                          {{item}}
                        </div>
                      </div>
                      <div>4(TB)</div>
                    </div>
                    <div class="capacity-line">
                      <div class="unit-label">节省前</div>
                      <div class="unit-outer">
                        <div class="unit-inner_bar" [ngStyle]="{'width':(2.5/4 * 100)+'%'}"></div>
                        <span class="num">2.5</span>
                      </div>
                    </div>
                    <div class="capacity-line">
                      <div class="unit-tips">重删</div>
                    </div>
                    <div class="capacity-line">
                      <div class="unit-tips">压缩</div>
                    </div>
                    <div class="capacity-line">
                      <div class="unit-label">节省后</div>
                      <div class="unit-outer">
                        <div class="unit-inner_bar" [ngStyle]="{'width':(2.5/4 * 100)+'%'}"></div>
                        <span class="num">2.5</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="width: 75%">
                <div class="info-content-title">{{'storage.detail.cap.storagePool' | translate}}</div>
                <clr-datagrid>
                  <clr-dg-column>{{'storage.detail.capacity.pool.name' | translate}}</clr-dg-column>
                  <clr-dg-column>{{'storage.detail.capacity.pool.status' | translate}}</clr-dg-column>
                  <clr-dg-column>{{'storage.detail.capacity.pool.capacity' | translate}}</clr-dg-column>
                  <clr-dg-row *clrDgItems="let item of storagePool" [clrDgItem]="item">
                    <clr-dg-cell>{{item.name}}</clr-dg-cell>
                    <clr-dg-cell>{{item.healthStatus}}</clr-dg-cell>
                    <clr-dg-cell>
                      <clr-progress-bar clrValue="{{((item.consumedCapacity/item.totalCapacity) * 100).toFixed(2)}}" clrSuccess clrLabeled></clr-progress-bar>
                      <span>{{'storage.detail.cap.used' | translate}}{{formatCapacity(item.consumedCapacity)}}/{{formatCapacity(item.totalCapacity)}}</span>
                    </clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>
              </div>
            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button  clrTabLink>{{'storage.detail.performance.performance' | translate}}</button>
          <clr-tab-content clrTabLinkInOverflow="true">
            <div>{{'storage.detail.performance.ptc' | translate}}</div>
            <div echarts [options]="mychart" style="height: 600px;"></div>
            <div echarts [options]="mychart" style="height: 600px;"></div>
            <div echarts [options]="mychart" style="height: 600px;"></div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="changeTab('hardware')">{{'storage.detail.hardware.hardware' | translate }}</button>
          <clr-tab-content>
            <div class="detail-margin-top">
              <clr-tabs>
                <clr-tab>
                  <button clrTabLink (click)="changeTab('controller')">{{'storage.detail.hardware.controllers.controllers' | translate}}</button>
                  <clr-tab-content >
                    <div class="detail-margin-top">
                      <clr-datagrid>
                        <clr-dg-column>{{'storage.detail.hardware.controllers.controller' | translate}}</clr-dg-column>
                        <clr-dg-column>{{'storage.detail.hardware.controllers.status' | translate}}</clr-dg-column>
                        <clr-dg-column>{{'storage.detail.hardware.controllers.version' | translate}}</clr-dg-column>
                        <clr-dg-column>{{'storage.detail.hardware.controllers.cpuUsage' | translate}}</clr-dg-column>
                        <clr-dg-column>{{'storage.detail.hardware.controllers.iops' | translate}}</clr-dg-column>
                        <clr-dg-column>{{'storage.detail.hardware.controllers.ops' | translate}}</clr-dg-column>
                        <clr-dg-column>{{'storage.detail.hardware.controllers.latency' | translate}}</clr-dg-column>
                        <clr-dg-column>{{'storage.detail.hardware.controllers.bandwidth' | translate}}</clr-dg-column>
                        <clr-dg-row  *clrDgItems="let item of controllers" [clrDgItem]="item">
                          <clr-dg-cell>{{item.name}}</clr-dg-cell>
                          <clr-dg-cell>{{item.status}}</clr-dg-cell>
                          <clr-dg-cell>{{item.softVer}}</clr-dg-cell>
                          <clr-dg-cell>--</clr-dg-cell>
                          <clr-dg-cell>--</clr-dg-cell>
                          <clr-dg-cell>--</clr-dg-cell>
                          <clr-dg-cell>--</clr-dg-cell>
                          <clr-dg-cell>--</clr-dg-cell>

                        </clr-dg-row>
                      </clr-datagrid>
                    </div>
                  </clr-tab-content>
                </clr-tab>
                <clr-tab>
                  <button clrTabLink (click)="changeTab('disk')">{{'storage.detail.hardware.disks.disks' | translate}}</button>
                  <clr-tab-content >
                    <div class="detail-margin-top">
                      <clr-datagrid>
                        <clr-dg-column >{{'storage.detail.hardware.disks.location' | translate}}</clr-dg-column>
                        <clr-dg-column >{{'storage.detail.hardware.disks.status' | translate}}</clr-dg-column>
                        <clr-dg-column >{{'storage.detail.hardware.disks.type' | translate}}</clr-dg-column>
                        <clr-dg-column >{{'storage.detail.hardware.disks.capacity' | translate}}</clr-dg-column>
                        <clr-dg-column >{{'storage.detail.hardware.disks.role' | translate}}</clr-dg-column>
                        <clr-dg-column >{{'storage.detail.hardware.disks.diskDomain' | translate}}</clr-dg-column>
                        <clr-dg-column >{{'storage.detail.hardware.disks.rotationalSpeed' | translate}}</clr-dg-column>
                        <clr-dg-column >{{'storage.detail.hardware.disks.iops' | translate}}</clr-dg-column>
                        <clr-dg-column >{{'storage.detail.hardware.disks.latency' | translate}}</clr-dg-column>
                        <clr-dg-column >{{'storage.detail.hardware.disks.bandwidth' | translate}}</clr-dg-column>
                        <clr-dg-column >{{'storage.detail.hardware.disks.usage' | translate}}</clr-dg-column>
                        <clr-dg-row  *clrDgItems="let item of disks" [clrDgItem]="item">
                          <clr-dg-cell>{{item.name}}</clr-dg-cell>
                          <clr-dg-cell>{{item.status}}</clr-dg-cell>
                          <clr-dg-cell>{{item.physicalType}}</clr-dg-cell>
                          <clr-dg-cell>{{formatCapacity(item.capacity)}}</clr-dg-cell>
                          <clr-dg-cell>{{item.logicalType}}</clr-dg-cell>
                          <clr-dg-cell>{{item.diskDomain}}</clr-dg-cell>
                          <clr-dg-cell>{{item.speed}}</clr-dg-cell>
                          <clr-dg-cell>--</clr-dg-cell>
                          <clr-dg-cell>--</clr-dg-cell>
                          <clr-dg-cell>--</clr-dg-cell>
                          <clr-dg-cell>--</clr-dg-cell>
                        </clr-dg-row>
                      </clr-datagrid>
                    </div>
                  </clr-tab-content>
                </clr-tab>
                <clr-tab>
                  <button clrTabLink (click)="changeTab('port')">{{'storage.detail.hardware.ports.ports' | translate}}</button>
                  <clr-tab-content >
                    <div class="detail-margin-top">
                      <clr-accordion>
                        <clr-accordion-panel>
                          <clr-accordion-title>FC Ports({{fcs==null?0:fcs.length}})</clr-accordion-title>
                          <clr-accordion-content *clrIfExpanded>
                            <clr-datagrid>
                              <clr-dg-column >{{'storage.detail.hardware.ports.location' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.status' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.wwn' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.workingRate' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.iops' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.latency' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.bandwidth' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.usage' | translate}}</clr-dg-column>
                              <clr-dg-row  *clrDgItems="let item of fcs" [clrDgItem]="item">
                                <clr-dg-cell>{{item.location}}</clr-dg-cell>
                                <clr-dg-cell>{{item.status}}</clr-dg-cell>
                                <clr-dg-cell>{{item.wwn}}</clr-dg-cell>
                                <clr-dg-cell>{{item.speed}}</clr-dg-cell>
                                <clr-dg-cell>{{item.iops|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.latency|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.bandwidth|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.usage|| '--'}}</clr-dg-cell>
                              </clr-dg-row>
                            </clr-datagrid>
                          </clr-accordion-content>
                        </clr-accordion-panel>
                        <clr-accordion-panel>
                          <clr-accordion-title>Ethernet Port({{eths==null?0:eths.length}})</clr-accordion-title>
                          <clr-accordion-content *clrIfExpanded>
                            <clr-datagrid>
                              <clr-dg-column >{{'storage.detail.hardware.ports.location' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.status' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.ipv4' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.ipv6' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.workingRate' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.iops' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.latency' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.bandwidth' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.usage' | translate}}</clr-dg-column>
                              <clr-dg-row  *clrDgItems="let item of eths" [clrDgItem]="item">
                                <clr-dg-cell>{{item.location}}</clr-dg-cell>
                                <clr-dg-cell>{{item.status}}</clr-dg-cell>
                                <clr-dg-cell>{{item.ipv4|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.ipv6|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.speed}}</clr-dg-cell>
                                <clr-dg-cell>{{item.iops|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.latency|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.bandwidth|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.usage|| '--'}}</clr-dg-cell>
                              </clr-dg-row>
                            </clr-datagrid>
                          </clr-accordion-content>
                        </clr-accordion-panel>
                        <clr-accordion-panel>
                          <clr-accordion-title>FCoE Port({{fcoes==null?0:fcoes.length}})</clr-accordion-title>
                          <clr-accordion-content *clrIfExpanded>
                            <clr-datagrid>
                              <clr-dg-column >{{'storage.detail.hardware.ports.location' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.status' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.wwn' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.workingRate' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.iops' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.latency' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.bandwidth' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.usage' | translate}}</clr-dg-column>
                              <clr-dg-row  *clrDgItems="let item of fcoes" [clrDgItem]="item">
                                <clr-dg-cell>{{item.location}}</clr-dg-cell>
                                <clr-dg-cell>{{item.status}}</clr-dg-cell>
                                <clr-dg-cell>{{item.wwn}}</clr-dg-cell>
                                <clr-dg-cell>{{item.speed}}</clr-dg-cell>
                                <clr-dg-cell>{{item.iops|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.latency|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.bandwidth|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.usage|| '--'}}</clr-dg-cell>
                              </clr-dg-row>
                            </clr-datagrid>
                          </clr-accordion-content>
                        </clr-accordion-panel>
                        <clr-accordion-panel>
                          <clr-accordion-title>Bond Port({{bonds==null?0:bonds.length}})</clr-accordion-title>
                          <clr-accordion-content *clrIfExpanded>
                            <clr-datagrid>
                              <clr-dg-column >{{'storage.detail.hardware.ports.name' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.healthStatus' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.runningStatus' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.mtu' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.totalIops' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.avg' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.totalBandwidth' | translate}}</clr-dg-column>
                              <clr-dg-row  *clrDgItems="let item of bonds" [clrDgItem]="item">
                                <clr-dg-cell>{{item.name}}</clr-dg-cell>
                                <clr-dg-cell>{{item.healthStatus}}</clr-dg-cell>
                                <clr-dg-cell>{{item.runningStatus}}</clr-dg-cell>
                                <clr-dg-cell>{{item.mtu}}</clr-dg-cell>
                                <clr-dg-cell>{{item.iops|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.latency|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.bandwidth|| '--'}}</clr-dg-cell>
                              </clr-dg-row>
                            </clr-datagrid>
                          </clr-accordion-content>
                        </clr-accordion-panel>
                        <clr-accordion-panel>
                          <clr-accordion-title>Logical Port({{logicports==null?0:logicports.length}})</clr-accordion-title>
                          <clr-accordion-content *clrIfExpanded>
                            <clr-datagrid>
                              <clr-dg-column >{{'storage.detail.hardware.ports.name' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.runningStatus' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.status' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.ipv4' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.ipv6' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.currentPort' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.role' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.dynamicDns' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.dataProtocol' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.manageAccess' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.vStoreName' | translate}}</clr-dg-column>
                              <clr-dg-row  *clrDgItems="let item of logicports" [clrDgItem]="item">
                                <clr-dg-cell>{{item.name}}</clr-dg-cell>
                                <clr-dg-cell>{{item.runningStatus}}</clr-dg-cell>
                                <clr-dg-cell>{{item.operationalStatus}}</clr-dg-cell>
                                <clr-dg-cell>{{item.mgmtIp|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.mgmtIpv6|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.currentPortName|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.role|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.ddnsStatus|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.supportProtocol|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.managementAccess|| '--'}}</clr-dg-cell>
                                <clr-dg-cell>{{item.vstoreName|| '--'}}</clr-dg-cell>
                              </clr-dg-row>
                            </clr-datagrid>
                          </clr-accordion-content>
                        </clr-accordion-panel>
                        <clr-accordion-panel>
                          <clr-accordion-title>Failover Group({{fgs==null?0:fgs.length}})</clr-accordion-title>
                          <clr-accordion-content *clrIfExpanded>
                            <clr-datagrid>
                              <clr-dg-column >{{'storage.detail.hardware.ports.name' | translate}}</clr-dg-column>
                              <clr-dg-column >{{'storage.detail.hardware.ports.type' | translate}}</clr-dg-column>
                              <clr-dg-row  *clrDgItems="let item of fgs" [clrDgItem]="item">
                                <clr-dg-cell>{{item.name}}</clr-dg-cell>
                                <clr-dg-cell>{{item.failoverGroupType}}</clr-dg-cell>
                              </clr-dg-row>
                            </clr-datagrid>
                          </clr-accordion-content>
                        </clr-accordion-panel>
                      </clr-accordion>
                    </div>
                  </clr-tab-content>
                </clr-tab>
              </clr-tabs>
            </div>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>

