<clr-modal class="add-wizard-wrap" [(clrModalOpen)]="expandShow" [clrModalClosable]="false">
  <div class="modal-body">
    <form clrForm>
      <clr-input-container style="height: 4rem;">
        <label style="color: #9F9F9F;">{{'vmfs.expandSize' | translate}}</label>
        <div clrInput style="float: left;position: relative;">
          <input clrInput style="width: 70%;border-bottom: none" type="number" [(ngModel)]="expandForm.vo_add_capacity" name="vo_add_capacity" #number="ngModel"
                 onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required/>
          <select class="capacity" [(ngModel)]="expandForm.capacityUnit" clrInput style="width: 30%;border: 1px solid #DDDDDD;position: absolute;bottom: 3px;"  name="capacityUnit" >
            <option value="TB">TB</option>
            <option value="GB">GB</option>
          </select>
          <clr-control-helper style="position: absolute">
            <clr-icon shape="exclamation-circle" class="is-solid"></clr-icon>{{'vmfs.expandTips' | translate}}
          </clr-control-helper>
        </div>
      </clr-input-container>
    </form >
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">{{'menu.cancel' | translate}}</button>
    <button type="button" class="btn btn-primary" (click)="expandHandleFunc();">{{'menu.ok' | translate}}</button>
  </div>
</clr-modal>
