<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2012-2018 VMware, Inc. All rights reserved. -->
<!--
   dmestore plugin metadata.
   The <plugin> tag doesn't contain any moduleUri property because it is an HTML plugin.
-->

<plugin id="com.dmeplugin.dmestore.dmestore"
      defaultBundle="com_dmeplugin_dmestore">

   <resources baseUrl="locales/">
      <resource>com_dmeplugin_dmestore</resource>
   </resources>

   <dependencies>
      <!-- Allow HTML Client to display plugin icons in menus, shortcuts, object lists -->
      <dependency type="css" uri="dmestore/assets/css/plugin-icons.css" />
   </dependencies>

    <!-- Home view shortcut -->

   <extension id="com.dmeplugin.dmestore.homeShortcut">
      <extendedPoint>vise.home.shortcuts</extendedPoint>
      <object>
         <name>#{app.name}</name>
         <categoryUid>vsphere.core.controlcenter.administrationCategory</categoryUid>
         <targetViewUid>com.dmeplugin.dmestore.mainView</targetViewUid>
      </object>
   </extension>

<!--入口设置 -->
   <extension id="com.dmeplugin.dmestore.entryPoint">
      <extendedPoint>vise.navigator.nodespecs</extendedPoint>
      <object>
         <title>#{app.name}</title>
         <parentUid>vsphere.core.navigator.solutionsCategory</parentUid>
         <navigationTargetUid>com.dmeplugin.dmestore.mainView</navigationTargetUid>
         <viewOpenedUponFocus className="com.vmware.ui.objectnavigator.views.CategoryNodeTreeView" />
      </object>
   </extension>
   <!--主页-->
   <extension id="com.dmeplugin.dmestore.mainView">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{overview}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/ui/dmestore/index.html?view=dashboard</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
   <!--overview dashboard-->
   <extension id="com.dmeplugin.dmestore.overview">
      <extendedPoint>vise.navigator.nodespecs</extendedPoint>
      <object>
         <title>#{overview}</title>
         <parentUid>com.dmeplugin.dmestore.entryPoint</parentUid>
         <navigationTargetUid>com.dmeplugin.dmestore.dashboard</navigationTargetUid>
      </object>
   </extension>
   <extension id="com.dmeplugin.dmestore.dashboard">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{overview}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/ui/dmestore/index.html?view=dashboard</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
   <!--存储列表 storage-->
   <extension id="com.dmeplugin.dmestore.storagelist">
      <extendedPoint>vise.navigator.nodespecs</extendedPoint>
      <object>
         <title>#{storagelist}</title>
         <parentUid>com.dmeplugin.dmestore.entryPoint</parentUid>
         <navigationTargetUid>com.dmeplugin.dmestore.storageView</navigationTargetUid>
      </object>
   </extension>
   <extension id="com.dmeplugin.dmestore.storageView">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{storagelist}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/ui/dmestore/index.html?view=storage</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
   <!--vmfs列表-->
   <extension id="com.dmeplugin.dmestore.vmfsdatastorelist">
      <extendedPoint>vise.navigator.nodespecs</extendedPoint>
      <object>
         <title>#{vmfsdatastorelist}</title>
         <parentUid>com.dmeplugin.dmestore.entryPoint</parentUid>
         <navigationTargetUid>com.dmeplugin.dmestore.vmfslist</navigationTargetUid>
      </object>
   </extension>
   <extension id="com.dmeplugin.dmestore.vmfslist">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{vmfsdatastorelist}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/ui/dmestore/index.html?view=vmfs/list</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
   <!--nfs列表-->
   <extension id="com.dmeplugin.dmestore.nfsdatastorelist">
      <extendedPoint>vise.navigator.nodespecs</extendedPoint>
      <object>
         <title>#{nfsdatastorelist}</title>
         <parentUid>com.dmeplugin.dmestore.entryPoint</parentUid>
         <navigationTargetUid>com.dmeplugin.dmestore.nfslist</navigationTargetUid>
      </object>
   </extension>
   <extension id="com.dmeplugin.dmestore.nfslist">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{nfsdatastorelist}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/ui/dmestore/index.html?view=nfs</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
   <!--nfs datastore 逻辑端口详情-->
   <extension id="com.dmeplugin.dmestore.datastore.summary.logicport">

      <extendedPoint>vsphere.core.datastore.summarySectionViews</extendedPoint>
      <object>
         <name>#{summery.logicport}</name>
         <contentSpec>
            <url>/ui/dmestore/index.html?view=nfs/logicport</url>
            <dialogTitle>datastore Summary Sample</dialogTitle>
            <size>
               <width>1</width>
               <height>1</height>
            </size>
         </contentSpec>
      </object>
   </extension>
   <!--nfs datastore 文件系统详情-->
   <extension id="com.dmeplugin.dmestore.datastore.summary.fs">
      <extendedPoint>vsphere.core.datastore.summarySectionViews</extendedPoint>
      <object>
         <name>#{summery.fs}</name>
         <contentSpec>
            <url>/ui/dmestore/index.html?view=nfs/fs</url>
            <dialogTitle>datastore Summary Sample</dialogTitle>
            <size>
               <width>1</width>
               <height>1</height>
            </size>
         </contentSpec>
      </object>
   </extension>
   <!--nfs datastore share详情-->
   <extension id="com.dmeplugin.dmestore.datastore.summary.share">
      <extendedPoint>vsphere.core.datastore.summarySectionViews</extendedPoint>
      <object>
         <name>#{summery.share}</name>
         <contentSpec>
            <url>/ui/dmestore/index.html?view=nfs/share</url>
            <dialogTitle>datastore Summary Sample</dialogTitle>
            <size>
               <width>1</width>
               <height>2</height>
            </size>
         </contentSpec>
      </object>
   </extension>

   <!--servicelevellist-->
   <extension id="com.dmeplugin.dmestore.servicelevellist">
      <extendedPoint>vise.navigator.nodespecs</extendedPoint>
      <object>
         <title>#{servicelevellist}</title>
         <parentUid>com.dmeplugin.dmestore.entryPoint</parentUid>
         <navigationTargetUid>com.dmeplugin.dmestore.servicelevelView</navigationTargetUid>
      </object>
   </extension>
   <extension id="com.dmeplugin.dmestore.servicelevelView">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{servicelevellist}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/ui/dmestore/index.html?view=servicelevel</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
   <!--bestpractiselist   bestpractice-->
   <extension id="com.dmeplugin.dmestore.bestpractiselist">
      <extendedPoint>vise.navigator.nodespecs</extendedPoint>
      <object>
         <title>#{bestpractiselist}</title>
         <parentUid>com.dmeplugin.dmestore.entryPoint</parentUid>
         <navigationTargetUid>com.dmeplugin.dmestore.bestpractiseView</navigationTargetUid>
      </object>
   </extension>
   <extension id="com.dmeplugin.dmestore.bestpractiseView">
      <extendedPoint>vise.global.views</extendedPoint>
      <object>
         <name>#{bestpractiselist}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/ui/dmestore/index.html?view=bestpractice</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>
   <!-- Host monitor sample view -->
   <extension id="com.dmeplugin.dmestore.host.monitor">
      <extendedPoint>vsphere.core.host.monitorViews</extendedPoint>
      <object>
         <name>#{monitorTab.label}</name>
         <componentClass className="com.vmware.vsphere.client.htmlbridge.HtmlView">
            <object>
               <root>
                  <url>/ui/dmestore/resources/host-monitor.html</url>
               </root>
            </object>
         </componentClass>
      </object>
   </extension>

   <!-- Sample Actions on Hosts -->
   <extension id="com.dmeplugin.dmestore.actionSet">
      <extendedPoint>vise.actions.sets</extendedPoint>
      <object>
         <actions>

            <com.vmware.actionsfw.ActionSpec>
               <uid>com.dmeplugin.dmestore.host.iscsi</uid>
               <label>#{hostMenu.iscsi}</label>
               <icon>#{addIcon}</icon>
               <delegate>
                  <className>com.vmware.vsphere.client.HtmlPluginModalAction</className>
                  <object>
                     <root>
                        <actionUrl>/ui/dmestore/index.html?view=iscsi</actionUrl>
                        <dialogTitle>iscsi</dialogTitle>
                        <dialogSize>1800,600</dialogSize>
                     </root>
                  </object>
               </delegate>
            </com.vmware.actionsfw.ActionSpec>
          </actions>
      </object>
      <metadata>
         <objectType>HostSystem</objectType>
      </metadata>
   </extension>

   <!--
      This adds a sub-menu to the Host menu, using the actions defined above
   -->
   <extension id="com.dmeplugin.dmestore.hostMenu">
      <extendedPoint>vsphere.core.menus.solutionMenus</extendedPoint>
      <object>
         <!-- <label> is required here because it is an extension to an existing menu -->
         <label>#{dmemenu.label}</label>
         <uid>com.dmeplugin.dmestore.hostMenu</uid>
         <children>
            <Array>
               <com.vmware.actionsfw.ActionMenuItemSpec>
                  <type>action</type>
                  <uid>com.dmeplugin.dmestore.host.iscsi</uid>
               </com.vmware.actionsfw.ActionMenuItemSpec>
            </Array>
         </children>
      </object>
      <metadata>
         <objectType>HostSystem</objectType>
      </metadata>
   </extension>


   <!-- Sample Actions on VM -->
   <extension id="com.dmeplugin.dmestore.vm.actionSet">
      <extendedPoint>vise.actions.sets</extendedPoint>
      <object>
         <actions>
            <com.vmware.actionsfw.ActionSpec>
               <uid>com.dmeplugin.dmestore.vm.rdm</uid>
               <label>#{vmMenu.createRdm}</label>
               <icon>#{addIcon}</icon>
               <delegate>
                  <className>com.vmware.vsphere.client.HtmlPluginModalAction</className>
                  <object>
                     <root>
                        <actionUrl>/ui/dmestore/index.html?view=rdm</actionUrl>
                        <dialogTitle>RDM</dialogTitle>
                        <dialogSize>1800,600</dialogSize>
                     </root>
                  </object>
               </delegate>
            </com.vmware.actionsfw.ActionSpec>
         </actions>
      </object>
      <metadata>
         <objectType>VirtualMachine</objectType>
      </metadata>
   </extension>

   <extension id="com.dmeplugin.dmestore.VMMenu">
      <extendedPoint>vsphere.core.menus.solutionMenus</extendedPoint>
      <object>
         <!-- <label> is required here because it is an extension to an existing menu -->
         <label>#{dmemenu.label}</label>
         <uid>com.dmeplugin.dmestore.VMMenu</uid>
         <children>
            <Array>
               <com.vmware.actionsfw.ActionMenuItemSpec>
                  <type>action</type>
                  <uid>com.dmeplugin.dmestore.vm.rdm</uid>
               </com.vmware.actionsfw.ActionMenuItemSpec>
            </Array>
         </children>
      </object>
      <metadata>
         <objectType>VirtualMachine</objectType>
      </metadata>
   </extension>
</plugin>
