<div>
  <!--卸载提示-->
  <clr-modal [clrModalOpen]="viewPage=='unmount_pugin'" [clrModalSize]="'md'">
    <h3 class="modal-title">{{'nfs.unmount.title' | translate}}</h3>
    <div class="modal-body">
      <form clrForm>
        <p *ngIf="errorMsg" style="color: red">{{'errorMsg.unMountError' | translate}}</p>
        <clr-select-container>
          <label>{{'nfs.mountHost' | translate}}</label>
          <select clrSelect (ngModelOptions)="hostList" [(ngModel)]="hostId"
                  required name="hostId" class="clr-select">
            <option *ngFor="let item of hostList" value="{{item.hostId}}">{{item.hostName}}</option>
          </select>
        </clr-select-container>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="backToNfsList()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="unMount()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
  <div *ngIf="viewPage=='unmount_vcenter'">
    <div>
      <form clrForm>
        <p *ngIf="errorMsg" style="color: red">{{'errorMsg.unMountError' | translate}}</p>
        <clr-select-container>
          <label>{{'nfs.mountHost' | translate}}</label>
          <select clrSelect (ngModelOptions)="hostList" [(ngModel)]="hostId"
                  required name="hostId" class="clr-select">
            <option *ngFor="let item of hostList" value="{{item.hostId}}">{{item.hostName}}</option>
          </select>
        </clr-select-container>
      </form>
    </div>
    <div style="float:right;">
      <button type="button" class="btn btn-outline" (click)="closeModel()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="unMount()">{{'menu.ok' | translate}}</button>
    </div>
  </div>
  <div *ngIf="viewPage=='unmount_host'">
    <div>
      <form clrForm>
        <p *ngIf="errorMsg" style="color: red">{{'errorMsg.unMountError' | translate}}</p>
        <clr-select-container>
          <label>{{'nfs.nfsStore' | translate}}</label>
          <select clrSelect (ngModelOptions)="dataStoreList" [(ngModel)]="dataStoreObjectId"
                  required name="dataStoreObjectId" class="clr-select" (change)="checkHost()">
            <option *ngFor="let item of dataStoreList" value="{{item.objectId}}">{{item.name}}</option>
          </select>
        </clr-select-container>
      </form>
    </div>
    <div style="float: right">
      <button type="button" class="btn btn-outline" (click)="closeModel()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="unMount()">{{'menu.ok' | translate}}</button>
    </div>
  </div>
</div>
