<!-- 弹出form提交框 添加 -->
<clr-wizard class="add-wizard-wrap" #wizard [clrWizardOpen]="true" [clrWizardClosable]="false">
  <clr-wizard-title style="font-weight: bolder">{{'vmfs.addTitle' | translate}}</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'" (click)="cancel();" >{{'menu.cancel' | translate}}</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">{{'menu.previous' | translate}}</clr-wizard-button>
  <clr-wizard-button [type]="'next'">{{'menu.next' | translate}}</clr-wizard-button>
  <clr-wizard-button (click)="addVmfsHanlde();" [type]="'finish'">{{'menu.ok' | translate}}</clr-wizard-button>

  <!--Page1 -->
  <clr-wizard-page #addPageOne [clrWizardPageNextDisabled]="name.pristine || !formPageOne.valid">
    <ng-template clrPageTitle>{{'vmfs.datastoreSetting' | translate}}</ng-template> <!-- mandatory -->

    <form clrForm #formPageOne="ngForm">
      <!--名称 -->
      <clr-input-container>
        <label style="color: #9F9F9F;">{{'vmfs.name' | translate}}</label>
        <input clrInput class="inputWidth100Percent"  [(ngModel)]="form.name" name="name" #name="ngModel" required/>
        <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
      </clr-input-container>
      <clr-checkbox-container>
        <label></label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="isSameName" [(ngModel)]="form.isSameName" />
          <label>{{'vmfs.vmfsAddNameDesc' | translate}}</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <clr-input-container *ngIf="!form.isSameName">
        <label style="color: #9F9F9F;">{{'vmfs.volumeName' | translate}}</label>
        <input clrInput class="inputWidth100Percent"  [(ngModel)]="form.volumeName" name="volumeName" required/>
        <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
      </clr-input-container>


      <!--版本 -->
      <clr-select-container>
        <label style="color: #9F9F9F;">{{'vmfs.version' | translate}}</label>
        <select (change)="setBlockSizeOptions();"  [(ngModel)]="form.version" clrSelect name="version" required>
          <option value='5'>VMFS 5</option>
          <option value='6'>VMFS 6</option>
        </select>
        <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
      </clr-select-container>

      <!-- 容量 -->
      <clr-input-container>
        <label style="color: #9F9F9F;">{{'vmfs.capacity' | translate}}</label>
        <div clrInput style="float: left;width: 54%;position: relative;">
          <!-- V5时最小值1.3G V6时最小值2G-->
          <input clrInput style="width: 60%;border-bottom: none" type="number" [(ngModel)]="form.capacity" name="capacity" #number="ngModel"
                 (keyup)="capacityChange($event.target)" required/>
          <select class="capacity" (change)="form.capacity = null;" clrInput style="width: 40%;border: 1px solid #DDDDDD;position: absolute;bottom: 3px;" [(ngModel)]="form.capacityUnit" name="capacityUnit" >
            <option value="TB">TB</option>
            <option value="GB">GB</option>
            <option value="MB">MB</option>
            <option value="KB">KB</option>
          </select>
        </div>
        <input clrInput style="width: 19%;text-align: center;" readonly value="{{'vmfs.multiply' | translate}}">
        <input clrInput style="width: 27%;" type="number" [(ngModel)]="form.count" name="count" #number="ngModel" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" required/>
        <clr-control-helper>{{'vmfs.capacityTips' | translate}}</clr-control-helper>
        <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
      </clr-input-container>

      <!-- 块大小 -->
      <clr-select-container>
        <label style="color: #9F9F9F;">{{'vmfs.blockSize' | translate}}</label>
        <select  clrSelect [(ngModel)]="form.blockSize" name="blockSize" (change)="setSrgOptions();" required>
          <option *ngFor="let item of blockSizeOptions" value="{{item.key}}">{{item.value}}</option>
        </select>
        <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
      </clr-select-container>

      <!-- 空间回收粒度 -->
      <clr-select-container>
        <label style="color: #9F9F9F;">{{'vmfs.spaceReclamationGranularity' | translate}}</label>
        <select  clrSelect (ngModelOptions)="srgOptions"  [(ngModel)]="form.spaceReclamationGranularity" name="spaceReclamationGranularity" required>
          <option *ngFor="let item of srgOptions" value="{{item.key}}">{{item.value}}</option>
        </select>
        <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
      </clr-select-container>

      <!-- 空间回收优先级 -->
      <clr-select-container>
        <label style="color: #9F9F9F;">{{'vmfs.spaceReclamationPriority' | translate}}</label>
        <select  clrSelect [(ngModel)]="form.spaceReclamationPriority" name="spaceReclamationPriority" required>
          <option value="low">{{'vmfs.low' | translate}}</option>
          <option value="none">{{'vmfs.none' | translate}}</option>
        </select>
        <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
      </clr-select-container>

      <!-- 主机/集群 -->
      <clr-combobox-container>
        <label style="color: #9F9F9F;">{{'vmfs.hostOrCluster' | translate}}</label>
        <clr-combobox *ngIf="form.hostDataloadSuccess && form.culDataloadSuccess" [(ngModel)]="chooseDevice" name="chooseDevice" required>
          <clr-options>
            <clr-option *clrOptionItems="let device of deviceList; field:'deviceName'" [clrValue]="device">
              <clr-icon *ngIf="device.deviceName !== '' && device.deviceType === 'host'" shape="host" role="img" aria-label="World is turning"></clr-icon>
              <clr-icon *ngIf="device.deviceName !== '' && device.deviceType !== 'host'" shape="host-group" role="img" aria-label="World is turning"></clr-icon>
              {{device.deviceName}}
            </clr-option>
          </clr-options>
        </clr-combobox>
        <!--            <clr-control-helper>Helper text</clr-control-helper>-->
        <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
      </clr-combobox-container>
    </form>
  </clr-wizard-page>
  <!--Page2 储存库设置-->
  <clr-wizard-page #addPageTwo [clrWizardPageNextDisabled]="number.pristine || !formPageTwo.valid">
    <ng-template clrPageNavTitle>
      {{'vmfs.storageSetting' | translate}}
    </ng-template>
    <ng-template clrPageTitle>
      <div class="page-title">
        <span>{{'vmfs.storageSetting' | translate}}</span>
        <!-- mandatory -->
        <span class="tabs-btn-wrap">
              <!-- 服务等级 -->
              <span (click)="serviceLevelBtnFunc();" class="tabs-btn" [ngClass]="{'tabs-btn_active': levelCheck === 'level'}">{{'vmfs.byServiceLevel' | translate}}</span>
          <!-- 非服务等级 -->
              <span (click)="customerClickFunc();" class="tabs-btn" [ngClass]="{'tabs-btn_active': levelCheck === 'customer'}">{{'vmfs.customer' | translate}}</span>
            </span>
      </div>

    </ng-template>

    <form clrForm #formPageTwo="ngForm">
      <!-- 1、选择 服务等级-->
      <div *ngIf="serviceLevelIsNull" class="errorTips" readonly ><clr-icon shape="exclamation-circle" class="is-solid"></clr-icon>{{'vmfs.serviceLevelCantBeNull' | translate}}</div>
      <!-- 1、选择 服务等级-->
      <ng-container *ngIf="levelCheck==='level'">
        <clr-accordion>
          <clr-accordion-panel *ngFor="let item of serviceLevelList;" style="margin-top: 20px;" >
            <clr-accordion-title class="" (click)="item.show ? this.hidden:this.show" *ngIf="!item.show" style="height: 50px; line-height: 50px;color: #333;font-size:16px;">{{item.name}}</clr-accordion-title>
            <clr-accordion-content [(clrIfExpanded)]="item.show">
              <table class="table table-vertical table-noborder table-compact">
                <tbody>
                <tr>
                  <th hidden></th>
                  <th>
                    {{item.name}}
                  </th>
                </tr>
                <tr>
                  <th hidden></th>
                  <td>{{'vmfs.capacityUsage' | translate}}</td>
                  <td>{{'vmfs.qos' | translate}}</td>
                  <td>{{'vmfs.protection' | translate}}</td>
                </tr>
                <tr>
                  <th hidden></th>
                  <th><clr-progress-bar clrValue="{{(item.usedCapacity/item.totalCapacity * 100 || 0).toFixed(2)}}" clrSuccess clrLabeled></clr-progress-bar></th>
                  <th *ngIf="item.capabilities.qos.smartQos.maxiops != null">IOPS <= {{item.capabilities.qos.smartQos.maxiops}}</th>
                  <th *ngIf="item.capabilities.qos.smartQos.miniops != null">IOPS >= {{item.capabilities.qos.smartQos.miniops}}</th>
                </tr>
                <tr>
                  <th hidden></th>
                  <th>{{item.usedCapacity || 0}} GB/{{item.totalCapacity || 0}}GB</th>
                  <th>Latency: {{item.capabilities.qos.smartQos.latency + item.capabilities.qos.smartQos.latencyUnit}}</th>
                </tr>
                </tbody>
              </table>
            </clr-accordion-content>
            <img src="./assets/images/selectDown.svg" style="position: absolute;right: 0px;bottom: 0px;" width="40px" height="40px">
          </clr-accordion-panel>
        </clr-accordion>
      </ng-container>
      <!-- 2、未选择 服务等级-->
      <ng-container *ngIf="levelCheck==='customer'">
        <!--a.基本信息 -->
        <clr-input-container>
          <label>{{'vmfs.basicInformation' | translate}}</label>
        </clr-input-container>
        <clr-select-container>
          <label style="color: #9F9F9F;">{{'vmfs.storageDevice' | translate}}</label>
          <select clrSelect  [(ngModel)]="form.storage_id" name="storage_id" (ngModelChange)="getStoragePoolsByStorId();" required>
            <option value=""></option>
            <option *ngFor="let item of storageList" value="{{item.id}}">{{item.name}}</option>
          </select>
          <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
        </clr-select-container>
        <clr-select-container>
          <label style="color: #9F9F9F;">{{'vmfs.storagePool' | translate}}</label>
          <select clrSelect [(ngModel)]="form.pool_raw_id" name="pool_raw_id" required>
            <option value=""></option>
            <option *ngFor="let item of storagePoolList" value="{{item.poolId}}">{{item.name}}</option>
          </select>
          <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
        </clr-select-container>

        <!--b.QoS 设置 -->
        <clr-input-container>
          <label>{{'vmfs.qosPolicy' | translate}}</label>
        </clr-input-container>
        <!-- 控制策略 -->
        <clr-radio-container clrInline>
          <label style="color: #9F9F9F;">{{'vmfs.controlPolicy' | translate}}</label>
          <clr-radio-wrapper>
            <input type="radio" clrRadio name="control_policy" checked="checked" value="1" [(ngModel)]="form.control_policy" required/>
            <label>{{'vmfs.upperLimitControl' | translate}}</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input type="radio" clrRadio name="control_policy" value="0" [(ngModel)]="form.control_policy" required/>
            <label>{{'vmfs.lowerLimitControl' | translate}}</label>
          </clr-radio-wrapper>
        </clr-radio-container>
        <!-- 交通管制对象 带宽 上限-->
        <clr-checkbox-container *ngIf="form.control_policy === '1'">
          <label style="color: #9F9F9F;">{{'vmfs.trafficControlObject' | translate}}</label>
          <clr-checkbox-wrapper>
            <input type="checkbox" [(ngModel)]="form.maxbandwidthChoose" name="maxbandwidthChoose" clrCheckbox/>
            <label>
              {{'vmfs.bandwidthLimitUpper' | translate}}
              <input type="number" [(readOnly)]="!form.maxbandwidthChoose" class="inputOneLine" name="maxbandwidth" [(ngModel)]="form.maxbandwidth" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"/>{{'vmfs.unitM' | translate}}
            </label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
        <!-- 交通管制对象 IOPS 上限-->
        <clr-checkbox-container *ngIf="form.control_policy === '1'">
          <label></label>
          <clr-checkbox-wrapper>
            <input type="checkbox" [(ngModel)]="form.maxiopsChoose" name="maxiopsChoose" clrCheckbox/>
            <label>
              {{'vmfs.IOPSLimitUpper' | translate}}
              <input type="number" [(readOnly)]="!form.maxiopsChoose" class="inputOneLine" name="maxiops" [(ngModel)]="form.maxiops" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"/>
            </label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>

        <!-- 交通管制对象 带宽 下限-->
        <clr-checkbox-container *ngIf="form.control_policy === '0'">
          <label style="color: #9F9F9F;">{{'vmfs.trafficControlObject' | translate}}</label>
          <clr-checkbox-wrapper>
            <input type="checkbox" [(ngModel)]="form.minbandwidthChoose" name="minbandwidthChoose" clrCheckbox/>
            <label>
              {{'vmfs.bandwidthLimitLower' | translate}}
              <input type="number" [(readOnly)]="!form.minbandwidthChoose" class="inputOneLine" name="minbandwidth" [(ngModel)]="form.minbandwidth" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"/>{{'vmfs.unitM' | translate}}
            </label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
        <!-- 交通管制对象 IOPS 下限-->
        <clr-checkbox-container *ngIf="form.control_policy === '0'">
          <label></label>
          <clr-checkbox-wrapper>
            <input type="checkbox" [(ngModel)]="form.miniopsChoose" name="minbandwidthChoose" clrCheckbox/>
            <label>
              {{'vmfs.IOPSLimitLower' | translate}}
              <input type="number" [(readOnly)]="!form.miniopsChoose" class="inputOneLine" name="miniops" [(ngModel)]="form.miniops" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"/>
            </label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
        <!-- 交通管制对象 latency 时延-->
        <clr-checkbox-container *ngIf="form.control_policy === '0'">
          <label></label>
          <clr-checkbox-wrapper>
            <input type="checkbox" [(ngModel)]="form.latencyChoose" name="latencyChoose" clrCheckbox/>
            <label>
              {{'vmfs.latencyMax' | translate}}
              <input type="number" [(readOnly)]="!form.latencyChoose" class="inputOneLine" name="latency" [(ngModel)]="form.latency" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"/>{{'vmfs.latencyUnit' | translate}}
            </label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>

        <!--c.QoS 资源调优 -->
        <clr-input-container>
          <label>{{'vmfs.resourceTuning' | translate}}</label>
        </clr-input-container>
        <clr-select-container>
          <label style="color: #9F9F9F;">{{'vmfs.provisioningType' | translate}}</label>
          <select clrSelect [(ngModel)]="form.alloctype" name="alloctype" >
            <option value="thin">thin</option>
            <option value="thick">thick</option>
          </select>
        </clr-select-container>
      </ng-container>

    </form>
  </clr-wizard-page>
</clr-wizard>
