<!--<clr-tree *ngIf="isList">-->
<!--  <clr-tree-node-->
<!--    *clrRecursiveFor="let device of list; getChildren: getChildren"-->
<!--    [class]="(selectedCluster||device.isDisabled)?'disabled':''"-->
<!--    (clrSelectedChange)="emitValueChange()"-->
<!--    [(clrSelected)]="device.selected">-->
<!--    <clr-icon [attr.shape]="device.deviceType==='host'?'host':'host-group'"></clr-icon>-->
<!--    {{device.clusterName}}-->
<!--  </clr-tree-node>-->
<!--</clr-tree>-->
<clr-tree *ngIf="isTree">
  <clr-tree-node
    *clrRecursiveFor="let device of tree; getChildren: getChildren"
    [class]="(selectedHost||device.isDisabled)?'disabled':''"
    (clrSelectedChange)="emitValueChange()"
    [(clrSelected)]="device.selected">
    <clr-icon [attr.shape]="device.deviceType==='host'?'host':'host-group'"></clr-icon>
    {{device.clusterName}}
  </clr-tree-node>
</clr-tree>


<!-- <pre>
    {{helper.print(resValue)}}
</pre>
 -->
