<div [ngSwitch]="configs.controlType">
  <!-- input -->
  <clr-input-container [formGroup]="form" *ngSwitchCase="GhFormItemType.input">
    <label [attr.for]="configs.prop">{{configs.label}}</label>
    <input clrInput [formControlName]="configs.prop" [id]="configs.prop" [type]="configs.type" />
    <clr-control-error *ngIf="!isValid">{{tips}}</clr-control-error>
  </clr-input-container>
  <!-- input -->
  <!--select-->
  <clr-select-container [formGroup]="form" *ngSwitchCase="GhFormItemType.select">
    <label [attr.for]="configs.prop">{{configs.label}}</label>
    <select clrSelect [formControlName]="configs.prop" [id]="configs.prop">
      <option *ngFor="let opt of configs.options" [value]="opt.value">{{opt.label}}</option>
    </select>
    <clr-control-error *ngIf="!isValid">{{tips}}</clr-control-error>
  </clr-select-container>
  <!--select-->
  <!--default-->
  <div *ngSwitchCase="GhFormItemType.empty"> empty </div>
  <!--default-->
</div>
