<div>
  <!--卸载提示-->
  <clr-modal [clrModalOpen]="viewPage=='dataStore_pugin'" [clrModalSize]="'sm'">
    <h3 class="modal-title">{{'nfs.unmount.title' | translate}}</h3>
    <div class="modal-body">
      <p>{{'nfs.unmount.content' | translate}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="backToNfsList()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="unMount()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
  <div *ngIf="viewPage=='dataStore_vcenter'">
    <div class="clr-row">
      <div class="clr-col-lg-4 clr-col-md-6 clr-col-12">
        <div class="card">
          <div class="card-header">
            提示
          </div>
          <div class="card-block">
            <div class="card-text">
              {{'nfs.unmount.content' | translate}}
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-outline" (click)="backToNfsList()">{{'menu.cancel' | translate}}</button>
            <button type="button" class="btn btn-primary" (click)="unMount()">{{'menu.ok' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <p>请选择卸载的Data Store</p>
      <p *ngIf="errorMsg" style="color: red">{{errorMsg}}</p>
      <clr-datagrid [(clrDgSelected)]="rowSelected">
        <clr-dg-column>{{'nfs.name' | translate}}</clr-dg-column>
        <clr-dg-column>{{'nfs.status' | translate}}</clr-dg-column>
        <clr-dg-column>{{'nfs.totalCapacity' | translate}}</clr-dg-column>
        <clr-dg-column>{{'nfs.freeCapacity' | translate}}</clr-dg-column>
        <clr-dg-row *ngFor="let item of dataStoreList" [clrDgItem]="item">
          <clr-dg-cell>{{item.name}}</clr-dg-cell>
          <clr-dg-cell>{{item.status}}</clr-dg-cell>
          <clr-dg-cell>{{formatCapacity(item.capacity)}}</clr-dg-cell>
          <clr-dg-cell>{{formatCapacity(item.freeSpace)}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
    <div style="float: right">
      <button type="button" class="btn btn-outline" (click)="closeModel()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="hostClusterUnmount()">{{'menu.ok' | translate}}</button>
    </div>
  </div>
</div>
