<div class="clr-row">
  <clr-datagrid style="width: 700px">

    <clr-dg-column>{{'rdm.name' | translate}}<span style="color: red">*</span></clr-dg-column>
    <clr-dg-column>{{'rdm.capacity' | translate}}<span style="color: red">*</span></clr-dg-column>
    <clr-dg-column>{{'rdm.count' | translate}}<span style="color: red">*</span></clr-dg-column>
    <clr-dg-column>{{'rdm.operation' | translate}}</clr-dg-column>

    <clr-dg-row *ngFor="let item of configModel.volume_specs" [clrDgItem]="item">
      <clr-dg-cell style="width: 200px">
        <input type="text" required [(ngModel)]="item.name" #name="ngModel" name="name" style="height: 30px"/>
      </clr-dg-cell>
      <clr-dg-cell style="width: 200px">
        <input type="number" [(ngModel)]="item.capacity" name="capacity" #number="ngModel" style="height: 30px;width: 100px"/>
        <select [(ngModel)]="item.unit" name="unit" style="height: 30px">
          <option value="GB">GB</option>
          <option value="TB">TB</option>
        </select>
      </clr-dg-cell>
      <clr-dg-cell style="width: 200px">
        <input type="number" [(ngModel)]="item.count" name="count" #number="ngModel" style="height: 30px"/>
      </clr-dg-cell>
      <clr-dg-cell style="width: 100px">
        <span (click)="basRemove(item)" style="color:#00F;cursor:pointer">{{'rdm.remove' | translate}}</span>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>
<form clrForm>
  <div class="clr-row">
    <span (click)="basAdd()" style="margin-top: 20px;margin-left: 20px;color:#00F;cursor:pointer">{{'rdm.add' | translate}}</span>
  </div>
  <div class="clr-row">
      <!-- 选择 服务等级 存储选-->
      <clr-radio-container clrInline>
        <label>{{'rdm.storageType' | translate}}</label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio (click)="levelCheck='level'" name="storageType"  value="1" [(ngModel)]="configModel.storageType" />
          <label>{{'rdm.tier' | translate}}</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio  (click)="levelCheck='storage'" name="storageType"  value="2" [(ngModel)]="configModel.storageType" />
          <label>{{'rdm.storage1' | translate}}</label>
        </clr-radio-wrapper>
        <!--<clr-control-helper>Helper text</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>-->
      </clr-radio-container>
  </div>

  <div class="clr-row">
    <!-- 服务等级-->
    <div *ngIf="levelCheck==='level'" [hidden]="levelCheck !=='level'">
      <table class="table table-vertical table-noborder table-compact blueBg">
        <tbody>
        <tr>
          <th hidden></th>
          <th>
            storageName:LargeScaleERRHAHA
          </th>
        </tr>
        <tr>
          <th hidden></th>
          <td>{{'vmfs.capacityUsage' | translate}}</td>
          <td>{{'vmfs.qos' | translate}}</td>
          <td>{{'vmfs.protection' | translate}}</td>
        </tr>
        <tr>
          <th hidden></th>
          <th><clr-progress-bar clrValue="{{(100- 10)/100 * 100}}" clrSuccess clrLabeled></clr-progress-bar></th>
          <th>IOPS > 2000/TB</th>
          <th>IOPS > 2000/TB</th>
        </tr>
        <tr>
          <th hidden></th>
          <th>136.700 TB/300.00TbB</th>
          <th>Latency < 1 ms</th>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- 选择存储 -->
    <div *ngIf="levelCheck==='storage'"  [hidden]="levelCheck !=='storage'">
      <clr-select-container>
        <label>{{'rdm.storage' | translate}}<span style="color: red">*</span></label>:
        <select clrSelect  [(ngModel)]="configModel.storage_id" name="storage_id" (ngModelChange)="loadStoragePool(configModel.storage_id);">
          <option value=""></option>
          <option *ngFor="let item of storageDevices" value="{{item.id}}">{{item.name}}</option>
        </select>
      </clr-select-container>
      <clr-select-container>
        <label>{{'rdm.sPool' | translate}}<span style="color: red">*</span></label>:
        <select clrSelect [(ngModel)]="configModel.pool_raw_id" name="pool_raw_id" >
          <option value=""></option>
          <option *ngFor="let item of storagePools" value="{{item.pool_raw_id}}">{{item.name}}</option>
        </select>
      </clr-select-container>

      <clr-combobox-container>
        <label>{{'rdm.host' | translate}}<span style="color: red">*</span></label>
        <clr-combobox [(ngModel)]="hostSelected" name="host_id">
          <clr-options>
            <clr-option *clrOptionItems="let item of hostList;field:'name'" [clrValue]="item">
              {{item.ip}}({{item.name}})
            </clr-option>
          </clr-options>
        </clr-combobox>
      </clr-combobox-container>

      <clr-select-container>
        <label>{{'rdm.ownerC' | translate}}<span style="color: red">*</span></label>:
        <select clrSelect [(ngModel)]="configModel.owner_controller" name="owner_controller" >
          <option value="0">{{'rdm.autoSelect' | translate}}</option>
          <option value="1">0A</option>
          <option value="2">0B</option>
        </select>
      </clr-select-container>

      <clr-select-container>
        <label>{{'rdm.idp' | translate}}<span style="color: red">*</span></label>:
        <select clrSelect [(ngModel)]="configModel.initial_distribute_policy" name="initial_distribute_policy" >
          <option value="0">{{'rdm.autoSelect' | translate}}</option>
          <option value="1">{{'rdm.hperformanceLevel' | translate}}</option>
          <option value="2">{{'rdm.performanceLevel' | translate}}</option>
          <option value="3">{{'rdm.capacityLevel' | translate}}</option>
        </select>
      </clr-select-container>

      <clr-select-container>
        <label>{{'rdm.fetchP' | translate}}<span style="color: red">*</span></label>:
        <select clrSelect [(ngModel)]="configModel.prefetch_policy" name="prefetch_policy" >
          <option value="0">{{'rdm.notFetch' | translate}}</option>
          <option value="1">{{'rdm.fixedFetch' | translate}}</option>
          <option value="2">{{'rdm.variableFetch' | translate}}</option>
          <option value="3">{{'rdm.smartFetch' | translate}}</option>
        </select>
      </clr-select-container>

      <!-- 调优 -->
      <clr-input-container>
        <label>{{'rdm.tuning' | translate}}</label>
      </clr-input-container>



      <!-- smartTier -->
      <clr-toggle-container>
        <clr-toggle-wrapper>
          <label>{{'rdm.smartTier' | translate}}</label>
          <input type="checkbox" clrToggle [(ngModel)]="policyEnable.smartTier" name="options" />
        </clr-toggle-wrapper>
      </clr-toggle-container>

      <clr-select-container *ngIf="policyEnable.smartTier">
        <label>{{'rdm.smartTierP' | translate}}<span style="color: red">*</span></label>:
        <select clrSelect [(ngModel)]="configModel.tuning.smarttier" name="smarttier">
          <option value="0">{{'rdm.notMove' | translate}}</option>
          <option value="1">{{'rdm.autoMove' | translate}}</option>
          <option value="2">{{'rdm.highPMove' | translate}}</option>
          <option value="3">{{'rdm.lowPMove' | translate}}</option>
        </select>
      </clr-select-container>


      <!-- Qos Policy -->
      <clr-toggle-container>
        <clr-toggle-wrapper>
          <label>{{'rdm.qosP' | translate}}</label>
          <input type="checkbox" clrToggle  [(ngModel)]="policyEnable.qosPolicy" name="options" />
        </clr-toggle-wrapper>
      </clr-toggle-container>

      <clr-radio-container clrInline *ngIf="policyEnable.qosPolicy">
        <label class="floatleft">{{'rdm.controlP' | translate}}<span style="color: red">*</span></label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="control_policy" required value="1" [(ngModel)]="configModel.tuning.smartqos.control_policy" />
          <label>{{'rdm.uLimit' | translate}}</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="control_policy" required value="0" [(ngModel)]="configModel.tuning.smartqos.control_policy" />
          <label>{{'rdm.lLimit' | translate}}</label>
        </clr-radio-wrapper>
      </clr-radio-container>

      <div *ngIf="policyEnable.qosPolicy">
        <clr-checkbox-container *ngIf="configModel.tuning.smartqos.control_policy==='1'">
          <label>{{'rdm.trafficC' | translate}}<span style="color: red">*</span></label>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox/>
            <label>{{'rdm.bandwidth' | translate}} <= <input class="inputOneLine" name="Brandwidth" [(ngModel)]="configModel.tuning.smartqos.maxbandwidth"/> MB/s
            </label>
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox/>
            <label>IOPS <= <input class="inputOneLine" name="IOPS" [(ngModel)]="configModel.tuning.smartqos.maxiops"/>
            </label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>

        <clr-checkbox-container *ngIf="configModel.tuning.smartqos.control_policy==='0'">
          <label>{{'rdm.trafficC' | translate}}<span style="color: red">*</span></label>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox/>
            <label>{{'rdm.bandwidth' | translate}} >= <input class="inputOneLine" name="Brandwidth" [(ngModel)]="configModel.tuning.smartqos.minbandwidth"/> MB/s
            </label>
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox/>
            <label>IOPS >= <input class="inputOneLine" name="IOPS" [(ngModel)]="configModel.tuning.smartqos.miniops"/>
            </label>
          </clr-checkbox-wrapper>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox/>
            <label>{{'rdm.latency' | translate}} <= <input class="inputOneLine" name="Latency" [(ngModel)]="configModel.tuning.smartqos.latency"/> ms
            </label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>

      </div>

      <!-- Resource Tuning -->
      <clr-toggle-container>
        <clr-toggle-wrapper>
          <label>{{'rdm.rtuning' | translate}}</label>
          <input type="checkbox" clrToggle [(ngModel)]="policyEnable.resourceTuning" name="options" />
        </clr-toggle-wrapper>
      </clr-toggle-container>

      <clr-select-container *ngIf="policyEnable.resourceTuning">
        <label>{{'rdm.alloctype' | translate}}<span style="color: red">*</span></label>:
        <select clrSelect [(ngModel)]="configModel.tuning.alloctype" name="smarttier" >
          <option value="thin">thin</option>
          <option value="thick">thick</option>
        </select>
      </clr-select-container>

      <clr-select-container *ngIf="configModel.tuning.alloctype == 'thin' && policyEnable.resourceTuning">
        <label>{{'rdm.dedupe' | translate}}<span style="color: red">*</span></label>:
        <select clrSelect [(ngModel)]="configModel.tuning.dedupe_enabled" name="dedupe" >
          <option value="0">{{'rdm.default' | translate}}</option>
          <option value="1">{{'rdm.enable' | translate}}</option>
          <option value="2">{{'rdm.disable' | translate}}</option>
        </select>
      </clr-select-container>

      <clr-select-container *ngIf="configModel.tuning.alloctype == 'thin' && policyEnable.resourceTuning">
        <label>{{'rdm.compression' | translate}}<span style="color: red">*</span></label>:
        <select clrSelect [(ngModel)]="configModel.tuning.compression_enabled" name="compression" >
          <option value="0">{{'rdm.default' | translate}}</option>
          <option value='1'>{{'rdm.enable' | translate}}</option>
          <option value="2">{{'rdm.disable' | translate}}</option>
        </select>
      </clr-select-container>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-2"></div>
    <div class="clr-col-4">
      <button type="button" class="btn btn-primary" (click)="submit()">{{'menu.submit' | translate}}</button>
    </div>
  </div>
</form>
