<div>
  <div class="s" style="margin:auto;width:600px;">
    <app-service-level-table [item]="serviceItem"></app-service-level-table>
  </div>
</div>
<app-gh-dynamic-form [formInfo]='formItemInfos' [form]='form' (onPayLoadChange)='handlePayLoadChange($event)'>
</app-gh-dynamic-form>
<clr-select-container class="selectClass">
  <label style="color: #9F9F9F;">修复方式</label>
  <select  [(ngModel)]="selectedValue" clrSelect name="version" required
           (change)="changeSelect()">
    <option *ngFor="let item of selectedArr" value="{{item}}">{{item}}</option>
  </select>
  <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
</clr-select-container>
<app-bp-repair-history-table [tableData]="table">
</app-bp-repair-history-table>
<clr-input-container>
  <input
    clrInput
    type="number"
    value=80
    name="recommendedValue"
    [(ngModel)]="recommendedValue"
    class="input40persent"
    formControlName="recommendedValue"
    (blur)="checkRecommendedValue()"
    />
  <label>%</label>
</clr-input-container>
<h1>mount</h1>
<app-gh-tree-checkbox
  (valueChange)="handleTreeValueChange('tree',$event)"
  [tree]="vmfsTree"
  [vmfsMount]="true"
  [isCreate]="true"
  [mountType]="'host'"
  [resType]="'mount'"
>
</app-gh-tree-checkbox>
<!--<h1>create</h1>-->
<!--<app-gh-tree-checkbox-->
<!--  (valueChange)="handleTreeValueChange('tree',$event)"-->
<!--  [tree]="vmfsTree"-->
<!--  [isCreate]="true">-->
<!--</app-gh-tree-checkbox>-->
<!-- <pre>{{helper.print(vmfsTree)}}</pre> -->
<div>{{helper.print(value)}}</div>
<div>form.errors{{helper.print(form.errors)}}</div>
<pre>form.value{{helper.print(form.value)}}</pre>
<div>form.valid=>{{form.valid}}</div>
<app-vmfs-create-faild-tips [partSuccessData]="partSuccessData"></app-vmfs-create-faild-tips>
<div>
  <div><input [(ngModel)]="firstData"></div>
  <div><input [(ngModel)]="secondData"></div>
  <div><input [(ngModel)]="thirdData"></div>
</div>

<!--<button [attr.disabled]="buttonDisableOrNot===false" (click)="log111">是否可以点击当前button</button>-->
<button [disabled]="changeButtonAttr()">是否可以点击当前button</button>


<!--<div *ngIf="changeButtonAttr()" class="loadingDiv">-->
<!--          <span style="color: black">-->
<!--            {{'vmfs.dataHandleLoadingTips' | translate}}<img src="./assets/images/loading.gif" width="20px"-->
<!--                                                             height="20px" style="margin-left: 20px;">-->
<!--          </span>-->
<!--</div>-->
