<!-- 头部按钮组 -->
<div class="gh-btngroup-header">
  <div class="gh-btngroup-left">

  </div>
  <div class="btn-group btn-icon">
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-8">
    <button class="btn btn-primary" (click)="syncStoragePolicy()" style="margin-left: 10px">{{'menu.synSPolicy' | translate}}</button>
  </div>
  <div class="clr-col-4">
    <input (input)="search()"  style="height: 35px; margin-left: 100px;width: 200px;"
            [(ngModel)]="searchName" placeholder="{{'tier.namep'|translate}}" type="search" name="name"/>
    <select style="height: 35px; margin-left: 10px; margin-right: 10px;width: 150px;" (ngModelOptions)="sortItems" [(ngModel)]="sortItem" name="sort" (change)="sortItemsChange();">
      <option *ngFor="let item of sortItems" value="{{item.id}}">{{item.value|translate}}</option>
    </select>
    <button class="btn btn-icon" (click)="sortBtnClick();">
       <clr-icon [hidden] ="sortUpDown.s == 'asc'" shape="angle-double down"></clr-icon>
       <clr-icon [hidden] ="sortUpDown.s == 'desc'" shape="angle-double up"></clr-icon>
    </button>
    <button class="btn btn-icon" (click)="refresh();"><clr-icon shape="refresh"></clr-icon></button>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-4" *ngFor="let item of serviceLevels" [clrDgItem]="item">
    <div class="info-card" style="margin-left: 10px;margin-top: 30px; height: 300px">
      <div class="info-card-header">
        <div class="info-card-title" style="cursor:pointer" (click)="clickName(item)">{{item.name}}</div>
        <!--<clr-dropdown [clrCloseMenuOnItemClick]="false">
          <button clrDropdownTrigger class="dropdown-toggle btn btn-link">
            Operation
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen>
            <div clrDropdownItem>Link 1</div>
            <div clrDropdownItem>Link 2</div>
          </clr-dropdown-menu>
        </clr-dropdown>-->
      </div>
      <div class="info-card-content">
        <div class="info-card-squre">
          <div class="squre-per-box" [ngStyle]="{'height':(item.usedRate/100*200)+'px'}"></div>
          <div class="squre-num">{{item.usedRate}}</div>
        </div>
        <div>
          <div class="gh-info-item">
            <span class="gh-info-lable">{{'tier.total'|translate}}</span>
            <span class="gh-info-value">{{item.total_capacity}} GB</span>
          </div>
          <div class="gh-info-item">
            <span class="gh-info-lable">{{'tier.free'|translate}}</span>
            <span class="gh-info-value">{{item.free_capacity}} GB</span>
          </div>
          <div class="gh-info-item">
            <span class="gh-info-lable">{{'tier.qosP'|translate}}</span>
            <span class="gh-info-value" *ngIf="item.capabilities.qos == undefined">--</span>
            <span class="gh-info-value" *ngIf="item.capabilities.qos != undefined
                                            && item.capabilities.qos.enabled == true
                                            && item.capabilities.qos.qosParam.latency != undefined">
            {{'tier.latency'|translate}} = {{item.capabilities.qos.qosParam.latency}} {{item.capabilities.qos.qosParam.latencyUnit}}</span>
          </div>
          <div class="gh-info-item">
            <span class="gh-info-lable"></span>
            <span class="gh-info-value" *ngIf="item.capabilities.qos != undefined
                                            && item.capabilities.qos.enabled == true
                                            && item.capabilities.qos.qosParam.minBandWidth != undefined">
            {{'tier.bandwidth'|translate}} >= {{item.capabilities.qos.qosParam.minBandWidth}} Mbps/s
          </span>
            <span class="gh-info-value" *ngIf="item.capabilities.qos != undefined
                                            && item.capabilities.qos.enabled == true
                                            && item.capabilities.qos.qosParam.maxBandWidth != undefined">
            {{'tier.bandwidth'|translate}} <= {{item.capabilities.qos.qosParam.maxBandWidth}} Mbps/s
          </span>
          </div>
          <div class="gh-info-item">
            <span class="gh-info-lable"></span>
            <span class="gh-info-value" *ngIf="item.capabilities.qos != undefined
                                            && item.capabilities.qos.enabled == true
                                            && item.capabilities.qos.qosParam.minIOPS != undefined">
            IOPS >= {{item.capabilities.qos.qosParam.minIOPS}} IOPS/TB
          </span>
            <span class="gh-info-value" *ngIf="item.capabilities.qos != undefined
                                            && item.capabilities.qos.enabled == true
                                            && item.capabilities.qos.qosParam.maxIOPS != undefined">
            IOPS <= {{item.capabilities.qos.qosParam.maxIOPS}} IOPS/TB
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<clr-modal class="modal" [(clrModalOpen)]="popShow" [clrModalSize]="'lg'">
  <h3 class="modal-title">
    <span>{{selectedModel.name}}</span>
    <!--<span>下拉框</span>
    <span>下拉框1</span>-->
  </h3>
  <div *ngIf="popShow" class="modal-body" >
    <clr-tabs>
      <clr-tab active>
        <button clrTabLink>{{'tier.general'|translate}}</button>
        <clr-tab-content *clrIfActive>
          <!-- 基础信息展示 -->
          <div class="gh-info-head">{{'tier.basic'|translate}}</div>
          <div class="gh-info-wrap clr-row">
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.name'|translate}}</span>
              <span class="gh-info-value">{{selectedModel.name}}</span>
            </div>
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.total'|translate}}</span>
              <span class="gh-info-value">{{selectedModel.total_capacity}} GB</span>
            </div>
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.free'|translate}}</span>
              <span class="gh-info-value">{{selectedModel.free_capacity}} GB</span>
            </div>
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.used'|translate}}</span>
              <span class="gh-info-value">{{selectedModel.used_capacity}} GB</span>
            </div>
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.usage'|translate}}</span>
              <!--<span class="gh-info-value"><clr-progress-bar clrValue="{{selectedModel.usedRate}}" clrSuccess clrLabeled></clr-progress-bar></span>-->
              <span class="gh-info-value">{{selectedModel.usedRate}}%</span>
          </div>
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.iop'|translate}}</span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.iopriority !== undefined
                                            && selectedModel.capabilities.iopriority.enabled === true">
                  <span *ngIf="selectedModel.capabilities.iopriority.policy == 1">Lower</span>
                  <span *ngIf="selectedModel.capabilities.iopriority.policy == 2">Middle</span>
                  <span *ngIf="selectedModel.capabilities.iopriority.policy == 3">High</span>
              </span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.iopriority === undefined
                                            || selectedModel.capabilities.iopriority.enabled === false">
                  --
              </span>
            </div>
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.zoning'|translate}}</span>
              <span class="gh-info-value">--</span>
            </div>
          </div>
          <!-- 基础信息展示 -->
          <div class="gh-info-head">{{'tier.qosP'|translate}}</div>
          <div class="gh-info-wrap clr-row">
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.controlP'|translate}}</span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.qos != undefined
                                            && selectedModel.capabilities.qos.enabled == true">
                     <span *ngIf="selectedModel.capabilities.qos.qosParam.maxBandWidth != undefined
                                  && selectedModel.capabilities.qos.qosParam.maxIOPS != undefined">
                       {{'tier.uLimit'|translate}}
                     </span>
                     <span *ngIf="selectedModel.capabilities.qos.qosParam.minBandWidth != undefined
                                  && selectedModel.capabilities.qos.qosParam.minIOPS != undefined ">
                       {{'tier.lLimit'|translate}}
                     </span>
              </span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.qos == undefined
                                            || selectedModel.capabilities.qos.enabled == false">
                     --
              </span>
            </div>
            <div class="gh-info-item clr-col-4" *ngIf="selectedModel.capabilities.qos != undefined && selectedModel.capabilities.qos.qosParam.maxBandWidth != undefined">
              <span class="gh-info-lable">{{'tier.bandwidth'|translate}}</span>
              <span class="gh-info-value"> <= {{selectedModel.capabilities.qos.qosParam.maxBandWidth}} MBPS/TB</span>
            </div>
            <div class="gh-info-item clr-col-4" *ngIf="selectedModel.capabilities.qos != undefined && selectedModel.capabilities.qos.qosParam.minBandWidth != undefined">
              <span class="gh-info-lable">{{'tier.bandwidth'|translate}}</span>
              <span class="gh-info-value"> >= {{selectedModel.capabilities.qos.qosParam.minBandWidth}} MBPS/TB</span>
            </div>
            <div class="gh-info-item clr-col-4" *ngIf="selectedModel.capabilities.qos != undefined && selectedModel.capabilities.qos.qosParam.maxIOPS != undefined">
              <span class="gh-info-lable">IOPS</span>
              <span class="gh-info-value"> <= {{selectedModel.capabilities.qos.qosParam.maxIOPS}} IOPS/TB</span>
            </div>
            <div class="gh-info-item clr-col-4" *ngIf="selectedModel.capabilities.qos != undefined && selectedModel.capabilities.qos.qosParam.minIOPS != undefined">
              <span class="gh-info-lable">IOPS</span>
              <span class="gh-info-value"> >= {{selectedModel.capabilities.qos.qosParam.minIOPS}} IOPS/TB</span>
            </div>
          </div>
          <!-- 基础信息展示 -->
          <div class="gh-info-head">{{'tier.rtuning'|translate}}</div>
          <div class="gh-info-wrap clr-row">
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.alloctype'|translate}}</span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.resource_type == undefined
                                                || selectedModel.capabilities.resource_type == 'default_type'">--</span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.resource_type != undefined
                                                && selectedModel.capabilities.resource_type != 'default_type'">
                {{selectedModel.capabilities.resource_type}}
              </span>
            </div>
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.dedupe'|translate}}</span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.deduplication == undefined">--</span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.deduplication != undefined">
                <span *ngIf="selectedModel.capabilities.deduplication == true">
                   {{'tier.enable'|translate}}
                </span>
                <span *ngIf="selectedModel.capabilities.deduplication == false">
                   {{'tier.disable'|translate}}
                </span>
              </span>
            </div>
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.compression'|translate}}</span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.compression == undefined">--</span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.compression != undefined">
                <span *ngIf="selectedModel.capabilities.compression == true">
                  {{'tier.enable'|translate}}
                </span>
                <span *ngIf="selectedModel.capabilities.compression == false">
                  {{'tier.disable'|translate}}
                </span>
              </span>
            </div>
            <div class="gh-info-item clr-col-4">
              <span class="gh-info-lable">{{'tier.smartTierP'|translate}}</span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.smarttier == undefined
                                                || selectedModel.capabilities.smarttier.enabled == false">--</span>
              <span class="gh-info-value" *ngIf="selectedModel.capabilities.smarttier != undefined
                                                && selectedModel.capabilities.smarttier.enabled == true">
                     <span *ngIf="selectedModel.capabilities.smarttier.policy == 0">
                       {{'tier.notMove'|translate}}
                     </span>
                     <span *ngIf="selectedModel.capabilities.smarttier.policy == 1">
                       {{'tier.autoMove'|translate}}
                     </span>
                     <span *ngIf="selectedModel.capabilities.smarttier.policy == 2">
                       {{'tier.highPMove'|translate}}
                     </span>
                     <span *ngIf="selectedModel.capabilities.smarttier.policy == 3">
                       {{'tier.lowPMove'|translate}}
                     </span>
              </span>
            </div>
          </div>
          <!-- 基础信息展示 -->
          <!--<div class="gh-info-head">Threshold Setting</div>
          <div class="gh-info-wrap clr-row">
             //
          </div>-->
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{'tier.storagep'|translate}}</button>
        <clr-tab-content *clrIfActive>

            <div class="gh-info-head"></div>

            <div class="btn-group btn-icon">
              <div class="radio btn">
                <input (click)="storagePoolRadioCheck = 'basic'" type="radio" name="btn-group-demo-radios" id="btn-demo-radio-1" checked>
                <label for="btn-demo-radio-1"><clr-icon shape="list" size="20"></clr-icon></label>
              </div>
              <div class="radio btn">
                <input (click)="storagePoolRadioCheck = 'capacity'" type="radio" name="btn-group-demo-radios" id="btn-demo-radio-2">
                <label for="btn-demo-radio-2"><clr-icon shape="dashboard" size="20"></clr-icon></label>
              </div>
              <div class="radio btn">
                <input (click)="storagePoolRadioCheck = 'performance'" type="radio" name="btn-group-demo-radios" id="btn-demo-radio-3">
                <label for="btn-demo-radio-3"><clr-icon shape="radar" size="20"></clr-icon></label>
              </div>
              <div class="radio btn merginLeft">
                <label><clr-icon shape="refresh" size="20" (click)="storagePoolRefresh($event)"></clr-icon></label>
              </div>
            </div>

            <!-- 列表页 -->
            <clr-datagrid  (clrDgRefresh)="storagePoolRefresh($event)" [clrDgLoading]="storeagePoolIsloading">

              <clr-dg-column [clrDgField]="'name'">{{'tier.name'|translate}}</clr-dg-column>

              <clr-dg-column [hidden]="storagePoolRadioCheck!=='basic'" [clrDgField]="'running_status'">{{'tier.status'|translate}}</clr-dg-column>
              <clr-dg-column [hidden]="storagePoolRadioCheck!=='basic'" [clrDgField]="'physicalType'">{{'tier.diskType'|translate}}</clr-dg-column>
              <clr-dg-column [hidden]="storagePoolRadioCheck!=='basic'" [clrDgField]="'storage_name'">{{'tier.storage'|translate}}</clr-dg-column>

              <clr-dg-column [hidden]="storagePoolRadioCheck!=='capacity'" [clrDgField]="'total_capacity'">{{'tier.total'|translate}}</clr-dg-column>
              <clr-dg-column [hidden]="storagePoolRadioCheck!=='capacity'" [clrDgField]="'consumed_capacity'">{{'tier.used'|translate}}</clr-dg-column>
              <clr-dg-column [hidden]="storagePoolRadioCheck!=='capacity'" [clrDgField]="'consumed_capacity_percentage'">{{'tier.usage'|translate}}</clr-dg-column>
              <clr-dg-column [hidden]="storagePoolRadioCheck!=='capacity'" [clrDgField]="'free_capacity'">{{'tier.free'|translate}}</clr-dg-column>

              <clr-dg-column [hidden]="storagePoolRadioCheck!=='performance'" [clrDgField]="'running_status'">{{'tier.status'|translate}}</clr-dg-column>
              <clr-dg-column [hidden]="storagePoolRadioCheck!=='performance'" [clrDgField]="'latency'">{{'tier.latencyms'|translate}}</clr-dg-column>
              <clr-dg-column [hidden]="storagePoolRadioCheck!=='performance'" [clrDgField]="'iops'">IOPS</clr-dg-column>
              <clr-dg-column [hidden]="storagePoolRadioCheck!=='performance'" [clrDgField]="'bandwidth'">{{'tier.bandwidthm'|translate}}</clr-dg-column>

              <clr-dg-row *ngFor="let item of storagePoolList" [clrDgItem]="item">

                <clr-dg-cell>{{item.name}}</clr-dg-cell>

                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='basic'">{{item.running_status}}</clr-dg-cell>
                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='basic'">{{item.physicalType}}</clr-dg-cell>
                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='basic'">{{item.storage_name}}</clr-dg-cell>

                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='capacity'">{{item.total_capacity}} GB</clr-dg-cell>
                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='capacity'">{{item.consumed_capacity}} GB</clr-dg-cell>
                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='capacity'">
                  <clr-progress-bar clrValue="{{item.consumed_capacity_percentage}}" clrSuccess clrLabeled></clr-progress-bar>
                </clr-dg-cell>
                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='capacity'">{{item.free_capacity}} GB</clr-dg-cell>

                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='performance'">{{item.running_status}}</clr-dg-cell>
                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='performance'">
                  <span *ngIf="item.latency != undefined">{{item.latency}}</span>
                  <span *ngIf="item.latency == undefined">--</span>
                </clr-dg-cell>
                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='performance'">
                  <span *ngIf="item.iops != undefined">{{item.iops}}</span>
                  <span *ngIf="item.iops == undefined">--</span>
                </clr-dg-cell>
                <clr-dg-cell [hidden]="storagePoolRadioCheck!=='performance'">
                  <span *ngIf="item.bandwidth != undefined">{{item.bandwidth}}</span>
                  <span *ngIf="item.bandwidth == undefined">--</span>
                </clr-dg-cell>

              </clr-dg-row>

              <!--<clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="storagePoolTotal">
                  <clr-dg-page-size [clrPageSizeOptions]="[5,10,50,100]">per page</clr-dg-page-size>
                  {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                  of {{pagination.totalItems}}
                </clr-dg-pagination>
              </clr-dg-footer>-->


          </clr-datagrid>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{'tier.volume'|translate}}</button>
        <clr-tab-content *clrIfActive>

          <div class="gh-info-head"></div>

          <div class="btn-group btn-icon">
            <div class="radio btn">
              <input (click)="volumeRadioCheck = 'basic'" type="radio" name="btn-group-demo-radios" id="btn-demo-radio-4" checked>
              <label for="btn-demo-radio-4"><clr-icon shape="list" size="20"></clr-icon></label>
            </div>
            <div class="radio btn">
              <input (click)="volumeRadioCheck = 'performance'" type="radio" name="btn-group-demo-radios" id="btn-demo-radio-5">
              <label for="btn-demo-radio-5"><clr-icon shape="dashboard" size="20"></clr-icon></label>
            </div>
            <div class="radio btn merginLeft">
              <label><clr-icon shape="refresh" size="20" (click)="volumeRefresh($event)"></clr-icon></label>
            </div>
          </div>

          <clr-datagrid  (clrDgRefresh)="volumeRefresh($event)" [clrDgLoading]="volumeIsloading">
            <clr-dg-column [clrDgField]="'name'">{{'tier.name'|translate}}</clr-dg-column>
            <clr-dg-column [clrDgField]="'status'">{{'tier.status'|translate}}</clr-dg-column>
            <clr-dg-column [hidden]="volumeRadioCheck!=='basic'" [clrDgField]="'capacity'">{{'tier.total'|translate}}</clr-dg-column>
            <clr-dg-column [hidden]="volumeRadioCheck!=='basic'" [clrDgField]="'alloctype'">{{'tier.alloctype'|translate}}</clr-dg-column>
            <clr-dg-column [hidden]="volumeRadioCheck!=='basic'" [clrDgField]="'capacity_usage'">{{'tier.used'|translate}}</clr-dg-column>

            <clr-dg-column [hidden]="volumeRadioCheck!=='performance'" [clrDgField]="'latency'">{{'tier.latencyms'|translate}}</clr-dg-column>
            <clr-dg-column [hidden]="volumeRadioCheck!=='performance'" [clrDgField]="'iops'">IOPS</clr-dg-column>
            <clr-dg-column [hidden]="volumeRadioCheck!=='performance'" [clrDgField]="'bandwidth'">{{'tier.bandwidthm'|translate}}</clr-dg-column>

            <clr-dg-row *ngFor="let item of volumeList" [clrDgItem]="item">

                <clr-dg-cell>{{item.name}}</clr-dg-cell>
                <clr-dg-cell>{{item.status}}</clr-dg-cell>

                <clr-dg-cell [hidden]="volumeRadioCheck!=='basic'">{{item.capacity}} GB</clr-dg-cell>
                <clr-dg-cell [hidden]="volumeRadioCheck!=='basic'">{{item.alloctype}}</clr-dg-cell>
                <clr-dg-cell [hidden]="volumeRadioCheck!=='basic'" *ngIf="item.capacity_usage==''">--</clr-dg-cell>
                <clr-dg-cell [hidden]="volumeRadioCheck!=='basic'" *ngIf="item.capacity_usage!=''">
                  <clr-progress-bar clrValue="{{item.capacity_usage}}" clrSuccess clrLabeled></clr-progress-bar>
                </clr-dg-cell>

                <clr-dg-cell [hidden]="volumeRadioCheck!=='performance'">
                  <span *ngIf="item.latency != undefined">{{item.latency}}</span>
                  <span *ngIf="item.latency == undefined">--</span>
                </clr-dg-cell>
                <clr-dg-cell [hidden]="volumeRadioCheck!=='performance'">
                  <span *ngIf="item.iops != undefined">{{item.iops}}</span>
                  <span *ngIf="item.iops == undefined">--</span>
                </clr-dg-cell>
                <clr-dg-cell [hidden]="volumeRadioCheck!=='performance'">
                  <span *ngIf="item.bandwidth != undefined">{{item.bandwidth}}</span>
                  <span *ngIf="item.bandwidth == undefined">--</span>
                </clr-dg-cell>

            </clr-dg-row>

            <!--<clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="volumeTotal">
                <clr-dg-page-size [clrPageSizeOptions]="[5,10,50,100]">per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}}
              </clr-dg-pagination>
            </clr-dg-footer>-->

          </clr-datagrid>

        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{'tier.capacity'|translate}}</button>
        <clr-tab-content *clrIfActive>
          <div class="gh-info-head"></div>
          <div class="clr-select-wrapper">
            <select class="clr-select" >
              <option value="1">{{'tier.last1M'|translate}}</option>
              <option value="2">{{'tier.last3M'|translate}}</option>
              <option value="3">{{'tier.last6M'|translate}}</option>
              <option value="4">{{'tier.last1Y'|translate}}</option>
            </select>
          </div>
          <div class="gh-info-head"></div>
          <div echarts [options]="volumeCapacity"></div>
          <div class="gh-info-head"></div>
          <div echarts [options]="storagePoolCapacity"></div>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{'tier.performance'|translate}}</button>
        <clr-tab-content *clrIfActive>
          <div class="gh-info-head"></div>
          <div class="clr-select-wrapper">
            <select class="clr-select" [(ngModel)]="range.range" (change)="initChart(range)">
              <option value="LAST_1_DAY">{{'tier.last1D'|translate}}</option>
              <option value="LAST_1_WEEK">{{'tier.last1W'|translate}}</option>
              <option value="LAST_1_MONTH">{{'tier.last1M'|translate}}</option>
              <option value="LAST_1_YEAR">{{'tier.last1Y'|translate}}</option>
            </select>
          </div>
          <div class="gh-info-head"></div>
          <div echarts [options]="volumeMaxResponseTime"></div>
          <div class="gh-info-head"></div>
          <div echarts [options]="volumeDensity"></div>
          <div class="gh-info-head"></div>
          <div echarts [options]="volumeThroughput"></div>
          <div class="gh-info-head"></div>
          <div echarts [options]="volumeBandwidth"></div>
          <div class="gh-info-head"></div>
          <div echarts [options]="storagePoolDensity"></div>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{'tier.appType'|translate}}</button>
        <clr-tab-content *clrIfActive>
          <clr-datagrid [(clrDgSelected)]="applicationTypeSelected"   (clrDgRefresh)="applicationTypeRefresh($event)" [clrDgLoading]="applicationTypeIsloading">

            <clr-dg-column [clrDgField]="'storageDevice'">{{'tier.storage'|translate}}</clr-dg-column>
            <clr-dg-column [clrDgField]="'applicationType'">{{'tier.appType'|translate}}</clr-dg-column>

            <clr-dg-row *ngFor="let item of applicationTypeList" [clrDgItem]="item">
              <clr-dg-cell>{{item.storageDevice}}</clr-dg-cell>
              <clr-dg-cell>{{item.applicationType}}</clr-dg-cell>
            </clr-dg-row>

            <!--<clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="applicationTypeTotal">
                <clr-dg-page-size [clrPageSizeOptions]="[5,10,50,100]">per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}}
              </clr-dg-pagination>
            </clr-dg-footer>-->

          </clr-datagrid>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline bottom-middle" (click)="closeS()">{{'menu.close'|translate}}</button>
  </div>
</clr-modal>
