<clr-modal class="add-wizard-wrap" [(clrModalOpen)]="modifyShow" [clrModalClosable]="false">
  <div class="modal-body">
    <form clrForm >
      <!-- 名称 -->
      <clr-input-container>
        <label style="color: #9F9F9F;">{{'vmfs.name' | translate}}</label>
        <input clrInput  [(ngModel)]="modifyForm.name" name="name" #name="ngModel" required/><br>
        <clr-control-error>{{'validations.required' | translate}}</clr-control-error>
      </clr-input-container>
      <clr-checkbox-container>
        <label></label>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="isSameName" [(ngModel)]="modifyForm.isSameName" />
          <label>{{'vmfs.modifyNameDesc' | translate}}</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>

      <!-- 控制策略 -->
      <clr-radio-container clrInline *ngIf="!isServiceLevelData">
        <label style="color: #9F9F9F;">{{'vmfs.controlPolicy' | translate}}</label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="control_policyUpper" checked="checked" value="1" [(ngModel)]="modifyForm.control_policy" />
          <label>{{'vmfs.upperLimitControl' | translate}}</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="control_policyLower" value="0" [(ngModel)]="modifyForm.control_policy" />
          <label>{{'vmfs.lowerLimitControl' | translate}}</label>
        </clr-radio-wrapper>
      </clr-radio-container>
      <!-- 交通管制对象 带宽 上限-->
      <clr-checkbox-container *ngIf="modifyForm.control_policy === '1' && !isServiceLevelData">
        <label style="color: #9F9F9F;">{{'vmfs.trafficControlObject' | translate}}</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" [(ngModel)]="modifyForm.maxbandwidthChoose" name="maxbandwidthChoose" clrCheckbox/>
          <label>
            {{'vmfs.bandwidthLimitUpper' | translate}}
            <input type="number" [(readOnly)]="!modifyForm.maxbandwidthChoose" class="inputOneLine" name="maxbandwidth" [(ngModel)]="modifyForm.max_bandwidth"/>{{'vmfs.unitM' | translate}}
          </label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <!-- 交通管制对象 IOPS 上限-->
      <clr-checkbox-container *ngIf="modifyForm.control_policy === '1' && !isServiceLevelData">
        <label [(ngModel)]="modifyForm.maxiopsChoose" name="maxiopsChoose" clrCheckbox ></label>
        <clr-checkbox-wrapper>
          <input type="checkbox" [(ngModel)]="modifyForm.maxiopsChoose" name="maxiopsChoose" clrCheckbox/>
          <label>
            {{'vmfs.IOPSLimitUpper' | translate}}
            <input type="number" [(readOnly)]="!modifyForm.maxiopsChoose" class="inputOneLine" name="maxiops" [(ngModel)]="modifyForm.max_iops"/>
          </label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>

      <!-- 交通管制对象 带宽 下限-->
      <clr-checkbox-container *ngIf="modifyForm.control_policy === '0' && !isServiceLevelData">
        <label style="color: #9F9F9F;">{{'vmfs.trafficControlObject' | translate}}</label>
        <clr-checkbox-wrapper>
          <input type="checkbox" [(ngModel)]="modifyForm.minbandwidthChoose" name="minbandwidthChoose" clrCheckbox/>
          <label>
            {{'vmfs.bandwidthLimitLower' | translate}}
            <input type="number" [(readOnly)]="!modifyForm.minbandwidthChoose" class="inputOneLine" name="minbandwidth" [(ngModel)]="modifyForm.min_bandwidth"/>{{'vmfs.unitM' | translate}}
          </label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <!-- 交通管制对象 IOPS 下限-->
      <clr-checkbox-container *ngIf="modifyForm.control_policy === '0' && !isServiceLevelData">
        <label></label>
        <clr-checkbox-wrapper>
          <input type="checkbox" [(ngModel)]="modifyForm.miniopsChoose" name="miniopsChoose" clrCheckbox/>
          <label>
            {{'vmfs.IOPSLimitLower' | translate}}
            <input type="number" [(readOnly)]="!modifyForm.miniopsChoose" class="inputOneLine" name="miniops" [(ngModel)]="modifyForm.min_iops"/>
          </label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <!-- 交通管制对象 latency 时延-->
      <clr-checkbox-container *ngIf="modifyForm.control_policy === '0' && !isServiceLevelData">
        <label></label>
        <clr-checkbox-wrapper>
          <input type="checkbox" [(ngModel)]="modifyForm.latencyChoose" name="latencyChoose" clrCheckbox/>
          <label>
            {{'vmfs.latencyMax' | translate}}
            <input type="number" [(readOnly)]="!modifyForm.latencyChoose" class="inputOneLine" name="latency" [(ngModel)]="modifyForm.latency"/>{{'vmfs.latencyUnit' | translate}}
          </label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel();">{{'menu.cancel' | translate}}</button>
    <button type="submit" class="btn btn-primary" (click)="modifyHandleFunc()">{{'menu.ok' | translate}}</button>
  </div>
</clr-modal>

