<div>
  <clr-modal [clrModalOpen]="viewPage=='reduce_plugin'" [clrModalClosable]="false">
    <h3 class="modal-title">{{'menu.reduce' | translate}}</h3>
    <div class="modal-body">
      <form  clrForm>
        <clr-input-container style="height: 4rem;">
          <label>{{'nfs.reduSize' | translate}}</label>
          <div clrInput style="float: left;position: relative;">
            <input clrInput style="width: 70%;border-bottom: none" type="number" [(ngModel)]="newCapacity" name="newCapacity" #number="ngModel"
                   onkeyup="this.value.match(/\d+(\.\d{0,2})?/)? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''" required/>
            <select class="capacity" [(ngModel)]="unit" clrInput style="width: 30%;border: 1px solid #DDDDDD;position: absolute;bottom: 3px;"  name="unit" >
              <option value="TB">TB</option>
              <option value="GB">GB</option>
              <option value="MB">MB</option>
              <option value="KB">KB</option>
            </select>
            <clr-control-helper style="position: absolute">
              <clr-icon shape="exclamation-circle" class="is-solid"></clr-icon>{{'nfs.reduceTips' | translate}}
            </clr-control-helper>
          </div>
        </clr-input-container>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="backToNfsList()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="reduceCommit()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
  <clr-modal class="add-wizard-wrap"[clrModalOpen]="viewPage=='reduce_vcenter'" [clrModalClosable]="false">
    <h3 class="modal-title">{{'menu.reduce' | translate}}</h3>
    <div class="modal-body">
      <form  clrForm>
        <clr-input-container style="height: 4rem;">
          <label>{{'nfs.reduSize' | translate}}</label>
          <div clrInput style="float: left;position: relative;">
            <input clrInput style="width: 70%;border-bottom: none" type="number" [(ngModel)]="newCapacity" name="newCapacity" #number="ngModel"
                   onkeyup="this.value.match(/\d+(\.\d{0,2})?/)? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''" required/>
            <select class="capacity" [(ngModel)]="unit" clrInput style="width: 30%;border: 1px solid #DDDDDD;position: absolute;bottom: 3px;"  name="unit" >
              <option value="TB">TB</option>
              <option value="GB">GB</option>
              <option value="MB">MB</option>
              <option value="KB">KB</option>
            </select>
            <clr-control-helper style="position: absolute">
              <clr-icon shape="exclamation-circle" class="is-solid"></clr-icon>{{'nfs.reduceTips' | translate}}
            </clr-control-helper>
          </div>
        </clr-input-container>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closeModel()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="reduceCommit()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
</div>
