<div>
  <form clrForm #simpleForm="ngForm">
    <table class="searchtable" cellpadding="5">
      <tr>
        <td>
          <clr-select-container>
            <select clrSelect (ngModelOptions)="volNames" [(ngModel)]="selectVolName" name="defaultSelect"
              class="clr-select" (change)="changeVolFunc()">
              <option *ngFor="let item of volNames" value="{{item}}">{{item}}</option>
            </select>
          </clr-select-container>
        </td>
        <!--          <td *ngIf="selectRange === 'BEGIN_END_TIME'">-->
        <!--            <mat-form-field appearance="fill">-->
        <!--              <mat-label>{{'vmfs.timeInputTips' | translate}}</mat-label>-->
        <!--              <mat-date-range-input [formGroup]="rangeTime" [rangePicker]="picker">-->
        <!--                <input required matStartDate  formControlName="start" placeholder="Start date" (dateChange)="changeDate();">-->
        <!--                <input required matEndDate formControlName="end" placeholder="End date" (dateChange)="changeDate();">-->
        <!--              </mat-date-range-input>-->
        <!--              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
        <!--              <mat-date-range-picker #picker></mat-date-range-picker>-->
        <!--              <mat-error *ngIf="rangeTime.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>-->
        <!--              <mat-error *ngIf="rangeTime.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>-->
        <!--            </mat-form-field>-->
        <!--          </td>-->
        <td>
          <!--   /* DTS202103270EB3F3P0G00 */ -->
          <clr-select-container>
            <select clrSelect (ngModelOptions)="timeSelectorRanges" [(ngModel)]="selectRange" name="selectRange"
              class="clr-select"
              (change)="changeVolFunc()" required>
              <option [value]="i.value" *ngFor="let i of timeSelectorRanges">{{i.key | translate}}</option>
            </select>
          </clr-select-container>
        </td>
      </tr>
    </table>
  </form>
  <div style="position:relative;">
    <div echarts [options]="iopsChart" id="iopsChart" style="height: 600px;"></div>
    <div echarts [options]="bandwidthChart" id="bandwidthChart" style="height: 600px;"></div>
    <div echarts [options]="latencyChart" id="latencyChart" style="height: 600px;"></div>

    <!--iopsChartDataIsNull 暂无数据 -->
    <div *ngIf="iopsChartDataIsNull" style="position: absolute;width: 100%;top: 8%;">
      <span
        style="color: #b3b3b3;display: inline-block;width: 100%;text-align: center;font-size: 20px;font-weight: 600;">
        <clr-icon shape="info-standard" class="is-warning" size="20"></clr-icon>&nbsp;{{'tips.noData' | translate}}
      </span>
    </div>
    <!--  -->
    <div *ngIf="bandwidthChartDataIsNull" style="position: absolute;width: 100%;top: 40%;">
      <span
        style="color: #b3b3b3;display: inline-block;width: 100%;text-align: center;font-size: 20px;font-weight: 600;">
        <clr-icon shape="info-standard" class="is-warning" size="20"></clr-icon>&nbsp;{{'tips.noData' | translate}}
      </span>
    </div>
    <div *ngIf="latencyChartDataIsNull" style="position: absolute;width: 100%;top: 74%;">
      <span
        style="color: #b3b3b3;display: inline-block;width: 100%;text-align: center;font-size: 20px;font-weight: 600;">
        <clr-icon shape="info-standard" class="is-warning" size="20"></clr-icon>&nbsp;{{'tips.noData' | translate}}
      </span>
    </div>
  </div>
</div>
