<div>
  <!--autorepare 实施最佳实践 -->
  <button class="btn btn-primary" [disabled]="hostSelected.length === 0"
    (click)="applyClick()">{{$t('bestPractice.apply')}}</button>
  <div>
    <div>
      <clr-icon shape="exclamation-circle" class="is-solid"></clr-icon>{{currentItem?.description}}
    </div>
    <div class="color-notice">
      <clr-icon shape="exclamation-circle" class="is-solid"></clr-icon>
      {{$t('bestPractice.applyAdvice')}}
    </div>
  </div>
</div>

<clr-datagrid [(clrDgSelected)]="hostSelected" [clrDgLoading]="hostIsLoading">
  <clr-dg-column #host [clrDgField]="'host'">
    {{'bestPractice.host'|translate}}
    <span class="flex1"></span>
    <clr-icon *ngIf="!host.sorted" shape="arrow down" class="is-solid"> </clr-icon>
  </clr-dg-column>
  <clr-dg-column>{{'bestPractice.adapter'|translate}}</clr-dg-column>
  <clr-dg-column>{{'bestPractice.ipaddress'|translate}}</clr-dg-column>
  <clr-dg-column>{{'bestPractice.actual'|translate}}</clr-dg-column>
  <clr-dg-placeholder>{{'tips.noData' | translate}}</clr-dg-placeholder>
  <clr-dg-row *clrDgItems="let item of dataTableList" [clrDgItem]="item">
    <clr-dg-cell class="over_flow" title="{{item.host}}">{{item.host}}</clr-dg-cell>
    <clr-dg-cell class="over_flow" title="{{item.device}}">{{item.device}}</clr-dg-cell>
    <clr-dg-cell class="over_flow" title="{{item.nicIp}}">{{item.nicIp}}</clr-dg-cell>
    <clr-dg-cell class="over_flow" title="{{item.mtu}}">{{item.mtu}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #hostModalPagination [clrDgPageSize]="5" [clrDgTotalItems]="hostTotal">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,50,100]">{{'page.perPage' | translate}}</clr-dg-page-size>
      {{hostModalPagination.firstItem + 1}} - {{hostModalPagination.lastItem + 1}}
      {{'page.all' | translate}}
      {{hostModalPagination.totalItems}}
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
