
<form clrForm>
  <clr-input-container>
    <input hidden clrInput type="text" [(ngModel)]="configModel.hostId" name="hostId" />
    <label>Host vKernel IP</label>:
    <input clrInput type="text" [(ngModel)]="configModel.hostIp" name="hostIp" />
  </clr-input-container>
  <!--存储设备 -->
  <clr-select-container>
    <label>Storage Device</label>:
    <select clrSelect (change)="loadPorts();" (ngModelOptions)="storageDevices"  [(ngModel)]="configModel.storageDeviceId" name="storageDeviceId" >
      <option *ngFor="let item of storageDevices" value="{{item.id}}">{{item.name}}</option>
    </select>
  </clr-select-container>
</form>
<clr-datagrid [(clrDgSelected)]="portSelected"   [clrDgLoading]="portLoading">

  <clr-dg-column [clrDgField]="'location'">Location</clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">status</clr-dg-column>
  <clr-dg-column [clrDgField]="'ipv4Address'">IPv4 Address</clr-dg-column>
  <clr-dg-column [clrDgField]="'ipv6Address'">IPv6 Address</clr-dg-column>
  <clr-dg-column [clrDgField]="'workingRate'">Working Rate(Mbps)</clr-dg-column>
  <clr-dg-column [clrDgField]="'iops'">IOPS</clr-dg-column>
  <clr-dg-column [clrDgField]="'latency'">Latency(ms)</clr-dg-column>
  <clr-dg-column [clrDgField]="'bandwidth'">BandWidth(MB/s)</clr-dg-column>
  <clr-dg-column [clrDgField]="'usage'">Usage(%)</clr-dg-column>


  <clr-dg-column [clrDgField]="'connectStatus'">Connect Status</clr-dg-column>

  <clr-dg-row *ngFor="let item of portList" [clrDgItem]="item">
    <clr-dg-cell>{{item.location}}</clr-dg-cell>
    <clr-dg-cell>{{item.status}}</clr-dg-cell>
    <clr-dg-cell>{{item.ipv4Address}}</clr-dg-cell>
    <clr-dg-cell>{{item.ipv6Address}}</clr-dg-cell>
    <clr-dg-cell>{{item.workingRate}}</clr-dg-cell>
    <clr-dg-cell>{{item.iops}}</clr-dg-cell>
    <clr-dg-cell>{{item.bandwidth}}</clr-dg-cell>
    <clr-dg-cell>{{item.bandwidth}}</clr-dg-cell>
    <clr-dg-cell>{{item.usage}}</clr-dg-cell>
    <clr-dg-cell>{{item.connectStatus}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="portTotal">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,50,100]">per page</clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}}
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>

<button type="button" class="btn btn-outline" (click)="popShow=false">Cancel</button>
<button type="button" class="btn btn-primary" (click)="submit()">Ok</button>
