<div>
  <!-- 头部按钮组 -->
  <div class="gh-btngroup-header">
    <div class="gh-btngroup-left">
      <button class="btn btn-primary" (click)="addView()">{{'menu.add' | translate}}</button>
      <button class="btn btn-primary" [disabled]="rowSelected.length !== 1" (click)="modifyData()">{{'menu.modify' | translate}}</button>
      <button class="btn btn-primary" [disabled]="rowSelected.length !== 1" (click)="expandView()">{{'menu.expand' | translate}}</button>
      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button clrDropdownTrigger class="btn btn-primary" aria-label="Dropdown demo button">
          {{'menu.more' | translate}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen>
          <div aria-label="Dropdown header Action 1" [disabled]="rowSelected.length !== 1" clrDropdownItem  (click)="reduceView();" >{{'menu.reduce' | translate}}</div>
          <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
          <div aria-label="Dropdown header Action 2" [disabled]="rowSelected.length !== 1" clrDropdownItem (click)="mount();"> {{'menu.mount' | translate}}</div>
          <div aria-label="Dropdown header Action 2" [disabled]="rowSelected.length !== 1" clrDropdownItem (click)="unmountBtnFunc();">{{'menu.unmount' | translate}}</div>
          <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
          <div aria-label="Dropdown header Action 2" [disabled]="rowSelected.length !== 1" clrDropdownItem (click)="delBtnFunc();">{{'menu.del' | translate}}</div>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
    <div class="btn-group btn-icon">
      <div class="radio btn">
        <input (click)="radioCheck = 'list'" type="radio" name="btn-group-demo-radios" id="btn-demo-radio-1" checked>
        <label for="btn-demo-radio-1"><clr-icon shape="list" size="20"></clr-icon></label>
      </div>
      <div class="radio btn">
        <input (click)="radioCheck = 'chart'" type="radio" name="btn-group-demo-radios" id="btn-demo-radio-2">
        <label for="btn-demo-radio-2"><clr-icon shape="dashboard" size="20"></clr-icon></label>
      </div>
      <div class="radio btn merginLeft">
        <!--<input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-3">-->
        <label><clr-icon shape="refresh" size="20" (click)="scanDataStore()"></clr-icon></label>
      </div>
    </div>
  </div>
  <!-- 列表页 -->
  <div style="width: 100%;">
    <clr-datagrid id="nfs-grid" [(clrDgSelected)]="rowSelected" [clrDgLoading]="isLoading">
      <clr-dg-column [clrDgField]="'name'">{{'nfs.name' | translate}}</clr-dg-column>

      <clr-dg-column [hidden]="radioCheck!=='list'" >
        {{'nfs.status' | translate}}
        <clr-dg-filter [clrDgFilter]="statusFilter">
          <status-filter #statusFilter></status-filter>
        </clr-dg-filter>
      </clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='list'" [clrDgField]="'capacity'" [clrDgSortOrder]="descSort">{{'nfs.totalCapacity' | translate}}</clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='list'" >{{'nfs.freeCapacity' | translate}}</clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='list'" [clrDgField]="'capacityUsage'" [clrDgSortOrder]="descSort">{{'nfs.capacityUsage' | translate}}</clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='list'" >{{'nfs.provisioningCapacity' | translate}}</clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='list'" >
        {{'nfs.device' | translate}}
        <clr-dg-filter [clrDgFilter]="deviceFilter">
          <device-filter #deviceFilter></device-filter>
        </clr-dg-filter>
      </clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='list'" [clrDgField]="'logicPort'">{{'nfs.logicPort' | translate}}</clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='list'" [clrDgField]="'shareIp'">{{'nfs.shareIp' | translate}}</clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='list'" [clrDgField]="'sharePath'">{{'nfs.sharePath' | translate}}</clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='list'" [clrDgField]="'fs'">{{'nfs.fileSystem' | translate}}</clr-dg-column>

      <clr-dg-column [hidden]="radioCheck!=='chart'">{{'nfs.ops' | translate}}</clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='chart'">{{'nfs.bandwidth' | translate}}</clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='chart'">{{'nfs.respRt' | translate}}</clr-dg-column>
      <clr-dg-column [hidden]="radioCheck!=='chart'">{{'nfs.respWt' | translate}}</clr-dg-column>

      <clr-dg-row *clrDgItems="let item of list" [clrDgItem]="item">
        <clr-dg-cell (click)="navigateTo(item.objectid)" style="color:#829DE6;cursor:pointer">{{item.name}}</clr-dg-cell>
        <clr-dg-cell style="width: 5%" [hidden]="radioCheck!=='list'">
          <span *ngIf="item.status == 'normal'">
                <span class="color-square" style="background-color: #7CDFA0; margin-right: 10px"></span>
                <span>{{'enum.status.normal' | translate}}</span>
          </span>
          <span *ngIf="item.status == 'faulty'">
                <span class="color-square" style="background-color: red; margin-right: 10px"></span>
                <span>{{'enum.status.faulty' | translate}}</span>
          </span>
          <span *ngIf="item.status == 'fault'">
                <span class="color-square" style="background-color: red; margin-right: 10px"></span>
                <span>{{'enum.status.fault' | translate}}</span>
          </span>
        </clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='list'">{{formatCapacity(item.capacity)}}</clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='list'">{{formatCapacity(item.freeSpace)}}</clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='list'">
          <clr-progress-bar clrValue="{{((item.capacity - item.freeSpace)/item.capacity * 100).toFixed(2)}}" clrSuccess clrLabeled></clr-progress-bar>
        </clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='list'">{{formatCapacity(item.reserveCapacity)}}</clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='list'">{{item.device}}</clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='list'">{{item.logicPort}}</clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='list'">{{item.shareIp}}</clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='list'">{{item.sharePath}}</clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='list'">{{item.fs}}</clr-dg-cell>

        <clr-dg-cell [hidden]="radioCheck!=='chart'">{{item.ops}}</clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='chart'">{{item.bandwidth}}</clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='chart'">{{item.readResponseTime}}</clr-dg-cell>
        <clr-dg-cell [hidden]="radioCheck!=='chart'">{{item.writeResponseTime}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5" [clrDgTotalItems]="total">
          <clr-dg-page-size [clrPageSizeOptions]="[5,10,50,100]">{{'page.perPage' | translate}}</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          {{'page.all' | translate}}
          {{pagination.totalItems}}
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
  <!--编辑弹框-->
  <clr-modal [(clrModalOpen)]="modifyShow">
    <h3 class="modal-title">{{'menu.modify' | translate}}</h3>
    <div class="modal-body">
      <form  clrForm #formPageOne="ngForm">
        <!--名称-->
        <clr-input-container>
          <label>{{'nfs.name' | translate}}</label>
          <input clrInput name="nfsName" [(ngModel)]="updateNfs.nfsName"/>
        </clr-input-container>
        <clr-checkbox-container>
          <label></label>
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox [(ngModel)]="updateNfs.sameName" name="sameName" />
            <label>{{'nfs.sameName' | translate}}</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
        <clr-input-container *ngIf="!updateNfs.sameName">
          <label>{{'nfs.fsName' | translate}}</label>
          <input clrInput [(ngModel)]="updateNfs.fsName" name="fsName" />
        </clr-input-container>
        <clr-input-container *ngIf="!updateNfs.sameName">
          <label>{{'nfs.shareName' | translate}}</label>
          <input clrInput [(ngModel)]="updateNfs.shareName" name="shareName" />
        </clr-input-container>
        <!--qos-->
        <clr-toggle-wrapper>
          <label>{{'nfs.qosPolicy' | translate}}</label>
          <input type="checkbox" clrToggle name="qosFlag" [(ngModel)]="updateNfs.qosFlag"/>
        </clr-toggle-wrapper>
        <div *ngIf="updateNfs.qosFlag">
          <clr-radio-container clrInline >
            <label class="floatleft">{{'nfs.controlPolicy' | translate}}</label>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="controlPolicy" required value="up" [(ngModel)]="updateNfs.contolPolicy" />
              <label>{{'nfs.ulc' | translate}}</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="controlPolicy" required value="low" [(ngModel)]="updateNfs.contolPolicy" />
              <label>{{'nfs.llc' | translate}}</label>
            </clr-radio-wrapper>
          </clr-radio-container>
          <div *ngIf="updateNfs.contolPolicy">
            <clr-radio-container *ngIf="updateNfs.contolPolicy==='up'">
              <label>{{'nfs.tfo' | translate}}</label>
              <clr-radio-wrapper>
                <input type="radio" clrRadio required value="1" />
                <label>{{'nfs.qos_bandwidth' | translate}}<=<input class="inputOneLine" type="text" name="maxBandwidth" [(ngModel)]="updateNfs.maxBandwidth"> MB/s</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio name="tfo" required value="2"/>
                <label>{{'nfs.qos_iops' | translate}}<=<input class="inputOneLine" type="text" [(ngModel)]="updateNfs.maxIops" name="maxIops"> MB/s</label>
              </clr-radio-wrapper>
            </clr-radio-container>

            <clr-radio-container *ngIf="updateNfs.contolPolicy==='low'">
              <label>{{'nfs.tfo' | translate}}</label>
              <clr-radio-wrapper>
                <input type="radio" clrRadio name="tfo" required value="1"/>
                <label>{{'nfs.qos_bandwidth' | translate}}>=<input class="inputOneLine" type="text" name="minBandwidth" [(ngModel)]="updateNfs.minBandwidth"> MB/s</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio name="tfo" required/>
                <label>{{'nfs.qos_iops' | translate}}>=<input class="inputOneLine" type="text" [(ngModel)]="updateNfs.minIops" name="minIops"> MB/s</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio name="tfo" required value="3"/>
                <label>{{'nfs.qos_latency' | translate}}<=<input class="inputOneLine" type="text" [(ngModel)]="updateNfs.latency" name="latency"> ms</label>
              </clr-radio-wrapper>
            </clr-radio-container>
          </div>
        </div>
        <!--thin-->
        <clr-toggle-wrapper>
          <label> {{'nfs.thin' | translate}}</label>
          <input type="checkbox" name="thin" clrToggle [(ngModel)]="updateNfs.thin"/>
        </clr-toggle-wrapper>
        <!--重删-->
        <clr-select-container>
          <label>{{'nfs.dataDedu' | translate}}</label>
          <select clrSelect [(ngModel)]="updateNfs.deduplicationEnabled" name="deduplicationEnabled">
            <option value="false">{{'nfs.disable' | translate}}</option>
            <option value="true">{{'nfs.enable' | translate}}</option>
          </select>
        </clr-select-container>
        <!--压缩-->
        <clr-select-container>
          <label>{{'nfs.dataCompre' | translate}}</label>
          <select clrSelect [(ngModel)]="updateNfs.compressionEnabled" name="compressionEnabled">
            <option value="false">{{'nfs.disable' | translate}}</option>
            <option value="true">{{'nfs.enable' | translate}}</option>
          </select>
        </clr-select-container>
        <clr-toggle-wrapper >
          <label>{{'nfs.capAuto' | translate}}</label>
          <input type="checkbox" clrToggle [(ngModel)]="updateNfs.autoSizeEnable" name="autoSizeEnable"/>
        </clr-toggle-wrapper>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="modifyShow = false">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="modifyCommit()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
</div>
