.inputOneLine{
  border-bottom: 1px solid #dbdbdb;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  width:80px;
};
.merginTop{
  margin-top: 10px;
}
.merginLeft{
  margin-left: 5px;
  border-style: solid;
}
.btn+.btn {
  border-left: 0.05rem solid;
}
.color-square {
  display: inline-block;
  vertical-align: text-bottom;
  height: .6rem;
  width: .6rem;
  border: .05rem solid #000;
  border-radius: 2rem;
  margin-bottom: 0.1rem;
}
