<div>
  <!--plugin-->
  <clr-modal [clrModalOpen]="viewPage=='mount_plugin'" [clrModalClosable]="false">
    <h3 class="modal-title modelTile">{{'vmfs.mount.mount' | translate}}</h3>
    <div class="modal-body">
      <form clrForm>
        <!--<clr-radio-container clrInline>-->
          <!--<label class="floatleft">{{'nfs.mount.mountObj' | translate}}</label>-->
          <!--<clr-radio-wrapper>-->
            <!--<input type="radio" clrRadio name="controlPolicy" value="1" [(ngModel)]="mountObj" ng-checked="true"/>-->
            <!--<label>{{'nfs.mount.host' | translate}}</label>-->
          <!--</clr-radio-wrapper>-->
          <!--<clr-radio-wrapper>-->
            <!--<input type="radio" clrRadio name="controlPolicy" value="2"  [(ngModel)]="mountObj" />-->
            <!--<label>{{'nfs.mount.cluster' | translate}}</label>-->
          <!--</clr-radio-wrapper>-->
        <!--</clr-radio-container>-->
        <!--主机-->
        <clr-select-container>
          <label>{{'nfs.mountHost' | translate}}</label>
          <select clrSelect (ngModelOptions)="hostList" [(ngModel)]="mountForm.hosts"
                  required name="dataStoreObjectId" class="clr-select" (change)="checkHost()">
            <option *ngFor="let item of hostList" value="{{item.hostId}}">{{item.hostName}}</option>
          </select>
        </clr-select-container>
        <!--虚拟网卡IP-->
        <clr-select-container>
          <label>{{'nfs.vkernel' | translate}}</label>
          <select clrSelect (ngModelOptions)="vmkernelList" required [(ngModel)]="mountForm.vkernelIp" name="vkernelIp"
                  class="clr-select">
            <option *ngFor="let item of vmkernelList" value="{{item.ipAddress}}">{{item.ipAddress}}</option>
          </select>
        </clr-select-container>
        <clr-select-container>
          <label>{{'nfs.mount.mountType' | translate}}</label>
          <select clrSelect [(ngModel)]="mountForm.mountType" name="mountType">
            <option value="readOnly">{{'nfs.mount.readOnly' | translate}}</option>
            <option value="readWrite">{{'nfs.mount.readWrite' | translate}}</option>
          </select>
        </clr-select-container>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="backToNfsList()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="mountSubmit()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
  <!--vcenter-datastore-->
  <clr-modal class="add-wizard-wrap" [clrModalOpen]="viewPage=='mount_dataStore'" [clrModalClosable]="false">
    <h3 class="modal-title modelTile">{{'vmfs.mount.mount' | translate}}</h3>
    <div class="modal-body">
      <form clrForm>
        <clr-select-container>
          <label>{{'nfs.mountHost' | translate}}</label>
          <select clrSelect (ngModelOptions)="hostList" [(ngModel)]="mountForm.hosts"
                  required name="dataStoreObjectId" class="clr-select" (change)="checkHost()">
            <option *ngFor="let item of hostList" value="{{item.hostId}}">{{item.hostName}}</option>
          </select>
        </clr-select-container>
        <!--虚拟网卡IP-->
        <clr-select-container>
          <label>{{'nfs.vkernel' | translate}}</label>
          <select clrSelect (ngModelOptions)="vmkernelList" required [(ngModel)]="mountForm.vkernelIp" name="vkernelIp"
                  class="clr-select">
            <option *ngFor="let item of vmkernelList" value="{{item.ipAddress}}">{{item.ipAddress}}</option>
          </select>
        </clr-select-container>
        <clr-select-container>
          <label>{{'nfs.mount.mountType' | translate}}</label>
          <select clrSelect [(ngModel)]="mountForm.mountType" name="mountType">
            <option value="readOnly">{{'nfs.mount.readOnly' | translate}}</option>
            <option value="readWrite">{{'nfs.mount.readWrite' | translate}}</option>
          </select>
        </clr-select-container>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closeModel()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="mountSubmit()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
  <!--vcenter-host-->
  <clr-modal class="add-wizard-wrap" [clrModalOpen]="viewPage=='mount_host'" [clrModalClosable]="false">
    <h3 class="modal-title modelTile">{{'vmfs.mount.mount' | translate}}</h3>
    <div class="modal-body">
      <form clrForm>
        <!--虚拟网卡IP-->
        <clr-select-container>
          <label>{{'nfs.vkernel' | translate}}</label>
          <select clrSelect (ngModelOptions)="vmkernelList" required [(ngModel)]="mountForm.vkernelIp" name="vkernelIp"
                  class="clr-select">
            <option *ngFor="let item of vmkernelList" value="{{item.ipAddress}}">{{item.ipAddress}}</option>
          </select>
        </clr-select-container>
        <clr-select-container>
          <label>{{'nfs.mount.mountType' | translate}}</label>
          <select clrSelect [(ngModel)]="mountForm.mountType" name="mountType">
            <option value="readOnly">{{'nfs.mount.readOnly' | translate}}</option>
            <option value="readWrite">{{'nfs.mount.readWrite' | translate}}</option>
          </select>
        </clr-select-container>
      </form>
      <clr-datagrid [(clrDgSelected)]="rowSelected">
        <clr-dg-column>{{'nfs.name' | translate}}</clr-dg-column>
        <clr-dg-column>{{'nfs.status' | translate}}</clr-dg-column>
        <clr-dg-column>{{'nfs.totalCapacity' | translate}}</clr-dg-column>
        <clr-dg-column>{{'nfs.freeCapacity' | translate}}</clr-dg-column>
        <clr-dg-row *ngFor="let item of dataStoreList" [clrDgItem]="item">
          <clr-dg-cell>{{item.name}}</clr-dg-cell>
          <clr-dg-cell>{{item.status}}</clr-dg-cell>
          <clr-dg-cell>{{formatCapacity(item.capacity)}}</clr-dg-cell>
          <clr-dg-cell>{{formatCapacity(item.freeSpace)}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closeModel()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="mountSubmit()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
  <!--vcenter-cluster-->
  <clr-modal class="add-wizard-wrap" [clrModalOpen]="viewPage=='mount_cluster'" [clrModalClosable]="false">
    <h3 class="modal-title modelTile">{{'vmfs.mount.mount' | translate}}</h3>
    <div class="modal-body">
      <clr-datagrid [(clrDgSelected)]="rowSelected">
        <clr-dg-column>{{'nfs.name' | translate}}</clr-dg-column>
        <clr-dg-column>{{'nfs.status' | translate}}</clr-dg-column>
        <clr-dg-column>{{'nfs.totalCapacity' | translate}}</clr-dg-column>
        <clr-dg-column>{{'nfs.freeCapacity' | translate}}</clr-dg-column>
        <clr-dg-row *ngFor="let item of dataStoreList" [clrDgItem]="item">
          <clr-dg-cell>{{item.name}}</clr-dg-cell>
          <clr-dg-cell>{{item.status}}</clr-dg-cell>
          <clr-dg-cell>{{formatCapacity(item.capacity)}}</clr-dg-cell>
          <clr-dg-cell>{{formatCapacity(item.freeSpace)}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
      <form clrForm>
        <clr-select-container>
          <label>{{'nfs.mount.mountType' | translate}}</label>
          <select clrSelect [(ngModel)]="mountForm.mountType" name="mountType">
            <option value="readOnly">{{'nfs.mount.readOnly' | translate}}</option>
            <option value="readWrite">{{'nfs.mount.readWrite' | translate}}</option>
          </select>
        </clr-select-container>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="closeModel()">{{'menu.cancel' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="mountSubmit()">{{'menu.ok' | translate}}</button>
    </div>
  </clr-modal>
</div>
